@import "http://webfonts.ru/import/bitter.css";
@import url(../css/slick.css);
@import url(../css/slick-theme.css);
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******** Compass sprites starts ********/
/* line 112, sprite/*.png */
.sprite-sprite, .sprite-awesome, .three-article .left .p-spr, .sprite-customize, .three-article .right .p-spr, .sprite-dribble, .top-social i:nth-of-type(3), .sprite-fb, .top-social i:nth-of-type(2), .sprite-larrow, .slide-controls i.prev::after, .sprite-modern, .three-article .center .p-spr, .sprite-rarrow, .slide-controls i.next::after, .sprite-rss, .top-social i:nth-of-type(4), .sprite-twitter, .top-social i:nth-of-type(1) {
  background-image: url('../img/sprite-s2b20f0271e.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-awesome, .three-article .left .p-spr {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-customize, .three-article .right .p-spr {
  background-position: 0 -41px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-dribble, .top-social i:nth-of-type(3) {
  background-position: 0 -82px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb, .top-social i:nth-of-type(2) {
  background-position: 0 -108px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-larrow, .slide-controls i.prev::after {
  background-position: 0 -134px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-modern, .three-article .center .p-spr {
  background-position: 0 -156px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-rarrow, .slide-controls i.next::after {
  background-position: 0 -197px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-rss, .top-social i:nth-of-type(4) {
  background-position: 0 -219px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter, .top-social i:nth-of-type(1) {
  background-position: 0 -246px;
}

/******** Compass sprites ends ********/
/******** Apple text hack starts ********/
/* line 15, ../sass/style.scss */
div, span, a, li, h1, h2, h3, h4,
h5, h6, td, input, textarea, button {
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz--text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}

/* line 23, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none !important;
}

/******** Apple text hack ends ********/
/******** General styles starts ********/
/* fonts */
/*
	Bitter, 400, 400 italic, 700, 700 italic
*/
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* variables */
/* line 200, ../sass/style.scss */
body {
  display: block;
  font-family: 'Bitter', Verdana;
  font-size: 13px;
  color: #353535;
  background: #fff;
  background-image: url("../img/footer-line.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

/* line 210, ../sass/style.scss */
.wrap {
  min-height: 100%;
  height: 100%;
  height: auto !important;
  /* for IE6 support */
  margin: 0 auto;
  margin-bottom: -337px;
}

/* line 217, ../sass/style.scss */
#push, .footer {
  height: 337px;
}

/* line 221, ../sass/style.scss */
img {
  border: 0;
}

/* line 223, ../sass/style.scss */
a img {
  border-width: 0px;
  border-style: none;
}

/* line 228, ../sass/style.scss */
html, .footer, .top-social, .top-container {
  background-image: url("../img/fone.png");
}

/* line 232, ../sass/style.scss */
.container {
  margin: 0 auto;
  width: 940px;
}

/* line 236, ../sass/style.scss */
.big-container {
  margin: 0 auto;
  margin-top: 200px;
  width: 1022px;
  position: relative;
}

/* line 246, ../sass/style.scss */
.slider-area {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
/* line 251, ../sass/style.scss */
.slider-area div.slide {
  width: 100%;
  height: 450px;
  background-size: cover !important;
}
/* line 255, ../sass/style.scss */
.slider-area div.slide .text-slide {
  height: 230px;
  display: table-cell;
  vertical-align: bottom;
}
/* line 259, ../sass/style.scss */
.slider-area div.slide .text-slide span {
  background: url(../img/pix-slider.png);
  font-size: 24px;
  font-family: "Bitter", Verdana;
  font-weight: bold;
  line-height: 45px;
  padding: 6px 12px;
  color: #fff;
}
/* line 269, ../sass/style.scss */
.slider-area div.slide.sky {
  background: url(../img/big/slide1-1.jpg) no-repeat center;
}
/* line 272, ../sass/style.scss */
.slider-area div.slide.girl {
  background: url(../img/big/slide1-2.jpg) no-repeat center;
}
/* line 275, ../sass/style.scss */
.slider-area div.slide.flowers {
  background: url(../img/big/slide1-3.jpg) no-repeat center;
}
/* line 278, ../sass/style.scss */
.slider-area div.slide.guitar {
  background: url(../img/big/slide1-4.jpg) no-repeat center;
}
/* line 281, ../sass/style.scss */
.slider-area div.slide.car {
  background: url(../img/big/slide1-5.jpg) no-repeat center;
}
/* line 284, ../sass/style.scss */
.slider-area div.slide.beauty {
  background: url(../img/big/slide1-6.jpg) no-repeat center;
}
/* line 287, ../sass/style.scss */
.slider-area div.slide.kinder {
  background: url(../img/big/slide1-7.jpg) no-repeat center 0px;
}
/* line 290, ../sass/style.scss */
.slider-area div.slide.vampi {
  background: url(../img/big/slide1-8.jpg) no-repeat center -95px;
}
/* line 293, ../sass/style.scss */
.slider-area div.slide.good {
  background: url(../img/big/slide1-9.jpg) no-repeat center;
}
/* line 296, ../sass/style.scss */
.slider-area div.slide.gration {
  background: url(../img/big/slide1-10.jpg) no-repeat center 0;
}

/* line 301, ../sass/style.scss */
.photo-slider {
  margin-bottom: 103px;
}

/* line 304, ../sass/style.scss */
.ban {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

/* line 311, ../sass/style.scss */
.slide-controls {
  display: block;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 240px;
}
/* line 317, ../sass/style.scss */
.slide-controls i {
  display: inline-block !important;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #ea5a4b;
  position: relative;
}
/* line 324, ../sass/style.scss */
.slide-controls i::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/* line 343, ../sass/style.scss */
.big-container .container {
  position: absolute;
  z-index: 100;
  bottom: -98px;
  right: 41px;
  overflow: hidden;
}

/* line 350, ../sass/style.scss */
.section .container {
  border: 1px solid #dfdfdf;
  padding: 104px 24px 16px 24px;
  width: 890px;
  background: #fff;
  overflow: hidden;
}

/* line 357, ../sass/style.scss */
.post {
  padding-bottom: 21px;
  border-bottom: 5px solid #ea5a4b;
  margin-right: 28px;
  padding-top: 16px;
}

/* line 363, ../sass/style.scss */
.posts .post:first-of-type {
  padding-top: 0;
}

/* line 366, ../sass/style.scss */
.posts .post:last-of-type {
  border-bottom: none;
}

/* line 369, ../sass/style.scss */
.posts {
  width: 679px;
  float: left;
}

/* line 373, ../sass/style.scss */
.pages {
  clear: both;
  margin-bottom: 13px;
  padding-top: 3px;
}

/* line 378, ../sass/style.scss */
.pages span {
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
}

/* line 383, ../sass/style.scss */
.pages .active {
  color: #fff;
  background: #ea5a4b;
  cursor: default;
}

/* line 388, ../sass/style.scss */
.mediacontent img {
  border: 1px solid #c7c7c7;
}

/* line 391, ../sass/style.scss */
.post h2 {
  font-size: 18px;
}

/* line 394, ../sass/style.scss */
.text {
  float: left;
  width: 497px;
  margin-left: 25px;
}

/* line 399, ../sass/style.scss */
.text p, .pages span {
  line-height: 18px;
}

/* line 402, ../sass/style.scss */
.text p, .pages span, .bar p, .bar .categ li, .text-address p {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 406, ../sass/style.scss */
.text a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* line 411, ../sass/style.scss */
.post-info {
  overflow: hidden;
  margin-top: 13px;
}

/* line 415, ../sass/style.scss */
.data {
  float: left;
  width: 122px;
  padding-left: 3px;
}

/* line 420, ../sass/style.scss */
.data h4 {
  font-size: 14px;
  margin: 14px 0 5px 0px;
}

/* line 424, ../sass/style.scss */
.data p {
  margin: 0;
  font-family: Helvetica;
  font-size: 12px;
  color: #ea5a4b;
}

/* line 430, ../sass/style.scss */
.sidebars {
  float: right;
  width: 207px;
  padding-top: 29px;
}

/* line 435, ../sass/style.scss */
.bar {
  margin-top: 20px;
}

/* line 438, ../sass/style.scss */
.bar.ads {
  padding-top: 5px;
}

/* line 441, ../sass/style.scss */
.ads-content {
  list-style: none;
  font-size: 0;
  padding: 21px 0 0 0;
}

/* line 446, ../sass/style.scss */
.ads-content .ad {
  display: block;
  float: left;
  width: 98px;
  height: 98px;
  border: 1px solid #c9c9c9;
  text-align: center;
  background: #f5f5f5;
  margin: 6px 6px 0 0;
}

/* line 456, ../sass/style.scss */
.ads-content .ad span {
  color: #c9c9c9;
  font-size: 14px;
  padding: 30px 5px 0 0;
  display: block;
}

/* line 462, ../sass/style.scss */
.ads-content .ad:nth-of-type(2), .ads-content .ad:last-of-type {
  margin-right: 0;
}

/* line 465, ../sass/style.scss */
.ad.active {
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* line 471, ../sass/style.scss */
.bar .categ {
  list-style: none;
  padding: 0;
  line-height: 18px;
  margin-top: 19px;
}

/* line 477, ../sass/style.scss */
.bar h3 {
  padding-bottom: 4px;
  border-bottom: 5px solid #ea5a4b;
  font-size: 17px;
  margin: 0;
}

/* line 483, ../sass/style.scss */
.bar p {
  line-height: 18px;
  margin-top: 20px;
}

/* line 487, ../sass/style.scss */
.main-container {
  border: 1px solid #dfdfdf;
  border-top: none;
  overflow: hidden;
  background: #FFF;
  width: 938px;
  margin: 0 auto;
}

/* line 495, ../sass/style.scss */
.three-article {
  padding-top: 47px;
  overflow: hidden;
}
/* line 498, ../sass/style.scss */
.three-article .coloumn {
  width: 274px;
  float: left;
  padding-left: 28px;
}
/* line 502, ../sass/style.scss */
.three-article .coloumn:last-of-type {
  float: right;
  padding-left: 0;
  padding-right: 23px;
}
/* line 508, ../sass/style.scss */
.three-article h2 {
  font-size: 18px;
  padding-top: 8px;
  margin-bottom: 22px;
  font-family: "Bitter";
}
/* line 514, ../sass/style.scss */
.three-article p {
  font-family: 'HelveticaRegular';
  font-size: 14px;
  line-height: 16px;
}
/* line 519, ../sass/style.scss */
.three-article .p-spr {
  overflow: hidden;
  float: left;
  width: 31px;
  height: 31px;
  margin-right: 15px;
}

/* line 536, ../sass/style.scss */
.top-social {
  text-align: right;
  color: #fff;
  padding: 14px 0;
}

/* line 542, ../sass/style.scss */
.top-social i {
  display: inline-block;
  cursor: pointer;
}
/* line 545, ../sass/style.scss */
.top-social i:nth-of-type(1) {
  width: 26px;
  height: 15px;
}
/* line 550, ../sass/style.scss */
.top-social i:nth-of-type(2) {
  margin-left: 13px;
  width: 8px;
  height: 16px;
}
/* line 556, ../sass/style.scss */
.top-social i:nth-of-type(3) {
  margin-left: 13px;
  width: 16px;
  height: 16px;
}
/* line 562, ../sass/style.scss */
.top-social i:nth-of-type(4) {
  margin-left: 14px;
  margin-right: 2px;
  width: 17px;
  height: 17px;
}

/* line 572, ../sass/style.scss */
.slider-points span:last-of-type {
  margin-right: 0;
}

/* line 575, ../sass/style.scss */
.top .nav li:last-of-type {
  padding-right: 0;
}

/* line 578, ../sass/style.scss */
.logo {
  display: block;
  float: left;
  width: 140px;
  text-decoration: none;
  color: #252525;
}
/* line 584, ../sass/style.scss */
.logo img {
  display: block;
  float: left;
}
/* line 588, ../sass/style.scss */
.logo span {
  font-size: 23px;
  display: block;
  float: left;
  font-family: "Bitter", Verdana;
  margin: 6px 0 0 9px;
}
/* line 594, ../sass/style.scss */
.logo span::after {
  content: ".";
  color: #ea5a4b;
}

/* line 600, ../sass/style.scss */
.top .nav {
  float: right;
  list-style: none;
  margin: 0;
  padding-top: 12px;
}

/* line 606, ../sass/style.scss */
.top .nav li {
  display: inline;
  text-transform: uppercase;
  padding: 0 12px 0 10px;
}

/* line 611, ../sass/style.scss */
.top .nav li a {
  text-decoration: none;
  color: #252525;
  font-family: "HelveticaBold";
  font-size: 12px;
}

/* line 617, ../sass/style.scss */
.top .nav li a:hover, .marker {
  color: #ea5a4b;
}

/* line 620, ../sass/style.scss */
.top {
  overflow: hidden;
  background: #fff;
  padding: 11px 0;
}

/* line 625, ../sass/style.scss */
.front {
  z-index: 1;
}

/* line 628, ../sass/style.scss */
.slider .slide, .front .title-img {
  position: relative;
}

/* line 632, ../sass/style.scss */
.socialmedia, .gallery-area {
  list-style: none;
  font-size: 0;
  padding: 0;
}

/* line 637, ../sass/style.scss */
.top-container {
  padding: 28px 27px 24px 27px;
  margin: 0;
  color: #fff;
  min-height: 79px;
}

/* line 643, ../sass/style.scss */
.top-container h1 {
  margin: 0;
  font-size: 29px;
  padding: 8px 0 4px 12px;
}

/* line 648, ../sass/style.scss */
.top-container > strong {
  padding-left: 12px;
  word-spacing: 3px;
}

/* line 652, ../sass/style.scss */
.slider-points span {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
  width: 75px;
  height: 75px;
}

/* line 659, ../sass/style.scss */
.slider-points span.active {
  box-shadow: 0 0 0 2px #ea5a4b inset;
}

/* line 662, ../sass/style.scss */
.slider-points span.active img {
  z-index: 1;
}

/* line 665, ../sass/style.scss */
.big-gallery {
  padding: 0 0 19px 25px;
}

/* line 668, ../sass/style.scss */
#container ul.hidden {
  display: none;
}

/* line 671, ../sass/style.scss */
.menu-gallery {
  padding-top: 4px;
}
/* line 673, ../sass/style.scss */
.menu-gallery a {
  text-decoration: none;
  color: #252525;
  font-family: "Bitter";
  font-size: 14px;
  display: inline-block;
  margin-right: 17px;
}
/* line 680, ../sass/style.scss */
.menu-gallery a:hover {
  color: #ea5a4b;
}
/* line 683, ../sass/style.scss */
.menu-gallery a:first-of-type {
  margin-left: 0;
}
/* line 686, ../sass/style.scss */
.menu-gallery a.active {
  padding: 8px 8px;
  background: #ea5a4b;
  color: #FFF;
  font-weight: bold;
}
/* line 691, ../sass/style.scss */
.menu-gallery a.active:hover {
  color: #FFF;
}

/* line 697, ../sass/style.scss */
button.orange {
  background: #ea5a4b;
  color: #FFF;
  font-weight: bold;
}

/* line 702, ../sass/style.scss */
form button {
  border: 1px solid transparent;
  text-transform: uppercase;
}

/* line 706, ../sass/style.scss */
.second-menu {
  overflow: hidden;
  padding: 44px 0;
  font-family: "Bitter";
}
/* line 710, ../sass/style.scss */
.second-menu ul {
  text-align: center;
}
/* line 713, ../sass/style.scss */
.second-menu li {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0px -4px;
}
/* line 719, ../sass/style.scss */
.second-menu li:hover {
  background: #ea5a4b;
}
/* line 722, ../sass/style.scss */
.second-menu li.active {
  color: #FFF;
  background: #ea5a4b;
  cursor: default;
  font-weight: bold;
}

/* line 730, ../sass/style.scss */
.gallery-area {
  margin: 5px 0 8px 0;
}

/* line 733, ../sass/style.scss */
.gallery-area li {
  display: inline-block;
  margin: 21px 0px 0px 21px;
  position: relative;
  cursor: pointer;
}

/* line 739, ../sass/style.scss */
.gallery-area li span, .gallery-area li b {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
}

/* line 745, ../sass/style.scss */
.gallery-area li span {
  background: #000;
  opacity: .5;
  height: 30px;
}

/* line 750, ../sass/style.scss */
.gallery-area li b {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 9px 10px;
}

/* line 756, ../sass/style.scss */
.gallery-area li:hover span, .gallery-area li:hover b {
  display: block;
}

/* line 759, ../sass/style.scss */
.gallery-area li:nth-of-type(4n+1) {
  margin: 21px 0 0px 0px;
}

/* line 762, ../sass/style.scss */
.map {
  margin-top: 18px;
}

/* line 765, ../sass/style.scss */
.description {
  padding-top: 27px;
  overflow: hidden;
}

/* line 769, ../sass/style.scss */
.text-address {
  float: left;
  width: 235px;
}

/* line 773, ../sass/style.scss */
.text-address p {
  margin: 0 0 14px 0;
}

/* line 776, ../sass/style.scss */
.form-message {
  float: right;
  width: 595px;
}

/* line 780, ../sass/style.scss */
.form-message button {
  padding: 7px;
}

/* line 783, ../sass/style.scss */
form input, form textarea {
  padding: 8px;
  border: 1px solid #000;
}

/* line 787, ../sass/style.scss */
form input {
  width: 272px;
}

/* line 790, ../sass/style.scss */
.form-message form input[type="text"] {
  display: block;
  float: left;
  margin: 0 15px 17px 0;
  font-family: Helvetica;
  font-size: 14px;
}

/* line 797, ../sass/style.scss */
.form-message form input[type="text"]:nth-of-type(2n), .form-message form textarea {
  margin: 0 0px 15px 0;
}

/* line 800, ../sass/style.scss */
.form-message form textarea {
  clear: both;
  width: 576px;
  height: 184px;
}

/* line 805, ../sass/style.scss */
.form-message form {
  margin-bottom: 13px;
}

/* line 808, ../sass/style.scss */
.footer {
  color: #ADADAD;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
}
/* line 813, ../sass/style.scss */
.footer .container {
  padding-top: 44px;
}
/* line 816, ../sass/style.scss */
.footer h1 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-bottom: 3px;
}
/* line 821, ../sass/style.scss */
.footer h1.social {
  margin-bottom: 21px;
}
/* line 825, ../sass/style.scss */
.footer p {
  padding: 17px 0 15px 0;
  margin: 0;
  line-height: 17px;
  font-family: "Bitter";
}
/* line 831, ../sass/style.scss */
.footer .coloumn {
  width: 300px;
  float: left;
}
/* line 834, ../sass/style.scss */
.footer .coloumn:last-of-type {
  float: right;
}
/* line 839, ../sass/style.scss */
.footer .left p {
  border-bottom: 1px solid #3b3b3b;
}
/* line 845, ../sass/style.scss */
.footer .center {
  padding-left: 21px;
}
/* line 847, ../sass/style.scss */
.footer .center p {
  line-height: 18px;
  padding-bottom: 0;
  font-size: 13px;
}

/* line 855, ../sass/style.scss */
.list {
  height: 100px;
  border: 1px solid #dfdfdf;
  border-top: none;
  position: absolute;
  bottom: -32px;
  left: -1px;
  width: 938px;
  background: #fff;
}

/* line 865, ../sass/style.scss */
.socialmedia li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/social-footer.png) no-repeat;
  margin: 0 8px 10px 0px;
  cursor: pointer;
}

/* line 873, ../sass/style.scss */
.socialmedia li:nth-of-type(8), .socialmedia li:nth-of-type(16) {
  margin: 0 0px 10px 0px;
}

/* line 876, ../sass/style.scss */
.socialmedia li:nth-of-type(2) {
  background-position: -30px 0;
}

/* line 879, ../sass/style.scss */
.socialmedia li:nth-of-type(3) {
  background-position: -60px 0;
}

/* line 882, ../sass/style.scss */
.socialmedia li:nth-of-type(4) {
  background-position: -90px 0;
}

/* line 885, ../sass/style.scss */
.socialmedia li:nth-of-type(5) {
  background-position: -120px 0;
}

/* line 888, ../sass/style.scss */
.socialmedia li:nth-of-type(6) {
  background-position: -150px 0;
}

/* line 891, ../sass/style.scss */
.socialmedia li:nth-of-type(7) {
  background-position: -180px 0;
}

/* line 894, ../sass/style.scss */
.socialmedia li:nth-of-type(8) {
  background-position: -210px 0;
}

/* line 897, ../sass/style.scss */
.socialmedia li:nth-of-type(9) {
  background-position: -240px 0;
}

/* line 900, ../sass/style.scss */
.socialmedia li:nth-of-type(10) {
  background-position: -270px 0;
}

/* line 903, ../sass/style.scss */
.socialmedia li:nth-of-type(11) {
  background-position: 0px -30px;
}

/* line 906, ../sass/style.scss */
.socialmedia li:nth-of-type(12) {
  background-position: -30px -30px;
}

/* line 909, ../sass/style.scss */
.socialmedia li:nth-of-type(13) {
  background-position: -60px -30px;
}

/* line 912, ../sass/style.scss */
.socialmedia li:nth-of-type(14) {
  background-position: -90px -30px;
}

/* line 915, ../sass/style.scss */
.socialmedia li:nth-of-type(15) {
  background-position: -120px -30px;
}

/* line 918, ../sass/style.scss */
.socialmedia li:nth-of-type(16) {
  background-position: -150px -30px;
}

/* line 921, ../sass/style.scss */
.socialmedia li:nth-of-type(17) {
  background-position: -180px -30px;
}

/* line 924, ../sass/style.scss */
.socialmedia li:nth-of-type(18) {
  background-position: -210px -30px;
}

/* line 927, ../sass/style.scss */
.socialmedia li:nth-of-type(19) {
  background-position: -240px -30px;
}

/* line 930, ../sass/style.scss */
.socialmedia li:nth-of-type(20) {
  background-position: -270px -30px;
}

/******** General styles ends ********/
/******** Slick styles ********/
/******** Slick styles ends ********/
