@import "http://webfonts.ru/import/bitter.css";
@import url(../css/slick.css);
@import url(../css/slick-theme.css);
/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******** Compass sprites starts ********/
/* line 72, sprite/*.png */
.sprite-sprite, .sprite-dribble, .top-social i:nth-of-type(3), .sprite-fb, .top-social i:nth-of-type(2), .sprite-rss, .top-social i:nth-of-type(4), .sprite-twitter, .top-social i:nth-of-type(1) {
  background-image: url('../img/sprite-sb7e6ffe236.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-dribble, .top-social i:nth-of-type(3) {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb, .top-social i:nth-of-type(2) {
  background-position: 0 -26px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-rss, .top-social i:nth-of-type(4) {
  background-position: 0 -52px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter, .top-social i:nth-of-type(1) {
  background-position: 0 -79px;
}

/******** Compass sprites ends ********/
/******** Apple text hack starts ********/
/* line 15, ../sass/style.scss */
div, span, a, li, h1, h2, h3, h4,
h5, h6, td, input, textarea, button {
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz--text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}

/* line 23, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none !important;
}

/******** Apple text hack ends ********/
/******** General styles starts ********/
/* fonts */
/*
	Bitter, 400, 400 italic, 700, 700 italic
*/
@font-face {
  font-family: "HelveticaRegular";
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
  font-family: "HelveticaItalic";
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
  src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"), url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
  font-family: "HelveticaLight";
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
  font-family: "HelveticaBlack";
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
  src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"), url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
  font-family: "HelveticaHeavy";
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
  src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"), url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
  font-family: "HelveticaMedium";
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
  src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"), url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
  font-family: "HelveticaThin";
  src: url("../fonts/HelveticaThin/HelveticaThin.eot");
  src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"), url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
  font-family: "HelveticaUltraLight";
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
  src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"), url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
  font-family: "HelveticaBoldItalic";
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
  src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"), url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
  font-family: "HelveticaBlackItalic";
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
  src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"), url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
  font-family: "HelveticaLightItalic";
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
  src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"), url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
  font-family: "HelveticaMediumItalic";
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
  src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"), url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
  font-family: "HelveticaHeavyItalic";
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
  src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"), url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
  font-family: "HelveticaThinItalic";
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
  src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"), url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
  font-family: "HelveticaUltraLightItalic";
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
  src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"), url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* variables */
/* line 200, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 203, ../sass/style.scss */
html, body {
  font-family: "HelveticaRegular", Verdana;
  font-size: 13px;
  color: #353535;
  min-height: 500px;
}

/* line 209, ../sass/style.scss */
body {
  min-height: 100%;
  min-width: 100%;
  display: block;
  font-family: 'BitterRegular', Verdana;
  background: #fff;
  background-image: url("../img/footer-line.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
}

/* line 219, ../sass/style.scss */
.wrap {
  min-height: 100%;
  height: auto !important;
  /* for IE6 support */
  height: 100%;
  margin: 0 auto;
  margin-bottom: -335px;
}

/* line 226, ../sass/style.scss */
#puch, #footer {
  height: 335px;
}

/* line 230, ../sass/style.scss */
img {
  border: 0;
}

/* line 232, ../sass/style.scss */
a img {
  border-width: 0px;
  border-style: none;
}

/* line 237, ../sass/style.scss */
footer, .top-social, .top-container {
  background-image: url("../img/fone.png");
}

/* line 241, ../sass/style.scss */
.container {
  margin: 0 auto;
  width: 940px;
}

/* line 245, ../sass/style.scss */
.big-container {
  margin: 0 auto;
  margin-top: 200px;
  width: 1022px;
  position: relative;
}

/* line 255, ../sass/style.scss */
.slider-area {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
/* line 260, ../sass/style.scss */
.slider-area div.slide {
  width: 100%;
  height: 450px;
  background-size: cover !important;
}
/* line 264, ../sass/style.scss */
.slider-area div.slide .text-slide {
  width: 360px;
  margin-top: 94px;
}
/* line 267, ../sass/style.scss */
.slider-area div.slide .text-slide span {
  background: url(../img/pix-slider.png);
  font-size: 24px;
  font-family: "Bitter", Verdana;
  font-weight: bold;
  line-height: 45px;
  padding: 6px 12px;
  color: #fff;
}
/* line 277, ../sass/style.scss */
.slider-area div.slide.sky {
  background: url(../img/big/slide1-1.jpg) no-repeat center;
}
/* line 280, ../sass/style.scss */
.slider-area div.slide.girl {
  background: url(../img/big/slide1-2.jpg) no-repeat center;
}
/* line 283, ../sass/style.scss */
.slider-area div.slide.flowers {
  background: url(../img/big/slide1-3.jpg) no-repeat center;
}
/* line 286, ../sass/style.scss */
.slider-area div.slide.guitar {
  background: url(../img/big/slide1-4.jpg) no-repeat center;
}
/* line 289, ../sass/style.scss */
.slider-area div.slide.car {
  background: url(../img/big/slide1-5.jpg) no-repeat center;
}
/* line 292, ../sass/style.scss */
.slider-area div.slide.beauty {
  background: url(../img/big/slide1-6.jpg) no-repeat center;
}
/* line 295, ../sass/style.scss */
.slider-area div.slide.kinder {
  background: url(../img/big/slide1-7.jpg) no-repeat center 0px;
}
/* line 298, ../sass/style.scss */
.slider-area div.slide.vampi {
  background: url(../img/big/slide1-8.jpg) no-repeat center -95px;
}
/* line 301, ../sass/style.scss */
.slider-area div.slide.good {
  background: url(../img/big/slide1-9.jpg) no-repeat center;
}
/* line 304, ../sass/style.scss */
.slider-area div.slide.gration {
  background: url(../img/big/slide1-10.jpg) no-repeat center 0;
}

/* line 309, ../sass/style.scss */
.ban {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

/* line 316, ../sass/style.scss */
.slide-controls {
  display: block;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 240px;
}
/* line 322, ../sass/style.scss */
.slide-controls i {
  display: inline-block !important;
  width: 30px;
  height: 30px;
  background: url(../img/arrow.png) no-repeat;
  cursor: pointer;
}
/* line 328, ../sass/style.scss */
.slide-controls i:last-of-type {
  background-position: -30px 0;
}

/* line 333, ../sass/style.scss */
.big-container .container {
  position: absolute;
  z-index: 100;
  bottom: -98px;
  right: 41px;
  overflow: hidden;
}

/* line 340, ../sass/style.scss */
.section {
  padding-bottom: 337px;
}

/* line 343, ../sass/style.scss */
.section .container {
  border: 1px solid #dfdfdf;
  padding: 104px 24px 16px 24px;
  width: 890px;
  background: #fff;
  overflow: hidden;
}

/* line 350, ../sass/style.scss */
.post {
  padding-bottom: 21px;
  border-bottom: 5px solid #ea5a4b;
  margin-right: 28px;
  padding-top: 16px;
}

/* line 356, ../sass/style.scss */
.posts .post:first-of-type {
  padding-top: 0;
}

/* line 359, ../sass/style.scss */
.posts .post:last-of-type {
  border-bottom: none;
}

/* line 362, ../sass/style.scss */
.posts {
  width: 679px;
  float: left;
}

/* line 366, ../sass/style.scss */
.pages {
  clear: both;
  margin-bottom: 13px;
  padding-top: 3px;
}

/* line 371, ../sass/style.scss */
.pages span {
  padding: 7px;
  font-weight: bold;
  cursor: pointer;
}

/* line 376, ../sass/style.scss */
.pages .active {
  color: #fff;
  background: #ea5a4b;
  cursor: default;
}

/* line 381, ../sass/style.scss */
.mediacontent img {
  border: 1px solid #c7c7c7;
}

/* line 384, ../sass/style.scss */
.post h2 {
  font-size: 18px;
}

/* line 387, ../sass/style.scss */
.text {
  float: left;
  width: 497px;
  margin-left: 25px;
}

/* line 392, ../sass/style.scss */
.text p, .pages span {
  line-height: 18px;
}

/* line 395, ../sass/style.scss */
.text p, .pages span, .bar p, .bar .categ li, .text-address p {
  font-family: Helvetica;
  font-size: 14px;
}

/* line 399, ../sass/style.scss */
.text a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* line 404, ../sass/style.scss */
.post-info {
  overflow: hidden;
  margin-top: 13px;
}

/* line 408, ../sass/style.scss */
.data {
  float: left;
  width: 122px;
  padding-left: 3px;
}

/* line 413, ../sass/style.scss */
.data h4 {
  font-size: 14px;
  margin: 14px 0 5px 0px;
}

/* line 417, ../sass/style.scss */
.data p {
  margin: 0;
  font-family: Helvetica;
  font-size: 12px;
  color: #ea5a4b;
}

/* line 423, ../sass/style.scss */
.sidebars {
  float: right;
  width: 207px;
  padding-top: 29px;
}

/* line 428, ../sass/style.scss */
.bar {
  margin-top: 20px;
}

/* line 431, ../sass/style.scss */
.bar.ads {
  padding-top: 5px;
}

/* line 434, ../sass/style.scss */
.ads-content {
  list-style: none;
  font-size: 0;
  padding: 21px 0 0 0;
}

/* line 439, ../sass/style.scss */
.ads-content .ad {
  display: block;
  float: left;
  width: 98px;
  height: 98px;
  border: 1px solid #c9c9c9;
  text-align: center;
  background: #f5f5f5;
  margin: 6px 6px 0 0;
}

/* line 449, ../sass/style.scss */
.ads-content .ad span {
  color: #c9c9c9;
  font-size: 14px;
  padding: 30px 5px 0 0;
  display: block;
}

/* line 455, ../sass/style.scss */
.ads-content .ad:nth-of-type(2), .ads-content .ad:last-of-type {
  margin-right: 0;
}

/* line 458, ../sass/style.scss */
.ad.active {
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* line 464, ../sass/style.scss */
.bar .categ {
  list-style: none;
  padding: 0;
  line-height: 18px;
  margin-top: 19px;
}

/* line 470, ../sass/style.scss */
.bar h3 {
  padding-bottom: 4px;
  border-bottom: 5px solid #ea5a4b;
  font-size: 17px;
  margin: 0;
}

/* line 476, ../sass/style.scss */
.bar p {
  line-height: 18px;
  margin-top: 20px;
}

/* line 480, ../sass/style.scss */
.three-article {
  margin-top: 41px;
}

/* line 483, ../sass/style.scss */
.top-social {
  text-align: right;
  color: #fff;
  padding: 14px 0;
}

/* line 489, ../sass/style.scss */
.top-social i {
  display: inline-block;
  cursor: pointer;
}
/* line 492, ../sass/style.scss */
.top-social i:nth-of-type(1) {
  width: 26px;
  height: 15px;
}
/* line 497, ../sass/style.scss */
.top-social i:nth-of-type(2) {
  margin-left: 13px;
  width: 8px;
  height: 16px;
}
/* line 503, ../sass/style.scss */
.top-social i:nth-of-type(3) {
  margin-left: 13px;
  width: 16px;
  height: 16px;
}
/* line 509, ../sass/style.scss */
.top-social i:nth-of-type(4) {
  margin-left: 14px;
  margin-right: 2px;
  width: 17px;
  height: 17px;
}

/* line 519, ../sass/style.scss */
.slider-points span:last-of-type {
  margin-right: 0;
}

/* line 522, ../sass/style.scss */
.top .nav li:last-of-type {
  padding-right: 0;
}

/* line 525, ../sass/style.scss */
.logo {
  float: left;
  width: 140px;
}
/* line 528, ../sass/style.scss */
.logo a {
  text-decoration: none;
  color: #252525;
}
/* line 531, ../sass/style.scss */
.logo a img {
  display: block;
  float: left;
}
/* line 535, ../sass/style.scss */
.logo a span {
  font-size: 23px;
  display: block;
  float: left;
  font-family: "Bitter", Verdana;
  margin: 6px 0 0 9px;
}
/* line 541, ../sass/style.scss */
.logo a span::after {
  content: ".";
  color: #ea5a4b;
}

/* line 548, ../sass/style.scss */
.top .nav {
  float: right;
  list-style: none;
  margin: 0;
  padding-top: 12px;
}

/* line 554, ../sass/style.scss */
.top .nav li {
  display: inline;
  text-transform: uppercase;
  padding: 0 12px 0 10px;
}

/* line 559, ../sass/style.scss */
.top .nav li a {
  text-decoration: none;
  color: #252525;
  font-family: "HelveticaBold";
  font-size: 12px;
}

/* line 565, ../sass/style.scss */
.top .nav li a:hover, .menu-gallery li:hover, .marker {
  color: #ea5a4b;
}

/* line 568, ../sass/style.scss */
.top {
  overflow: hidden;
  background: #fff;
  padding: 11px 0;
}

/* line 573, ../sass/style.scss */
.front {
  z-index: 1;
}

/* line 576, ../sass/style.scss */
.slider .slide, .front .title-img {
  position: relative;
}

/* line 580, ../sass/style.scss */
.second-menu ul, .menu-gallery, .socialmedia, .gallery-area {
  list-style: none;
  font-size: 0;
  padding: 0;
}

/* line 585, ../sass/style.scss */
.top-container {
  padding: 28px 27px 24px 27px;
  margin: 0;
  color: #fff;
  min-height: 79px;
}

/* line 591, ../sass/style.scss */
.top-container h1 {
  margin: 0;
  font-size: 29px;
  padding: 8px 0 4px 12px;
}

/* line 596, ../sass/style.scss */
.top-container > strong {
  padding-left: 12px;
  word-spacing: 3px;
}

/* line 600, ../sass/style.scss */
.slider-points span {
  display: inline-block;
  margin-right: 12px;
  cursor: pointer;
  width: 75px;
  height: 75px;
}

/* line 607, ../sass/style.scss */
.slider-points span.active {
  box-shadow: 0 0 0 2px #ea5a4b inset;
}

/* line 610, ../sass/style.scss */
.slider-points span.active img {
  z-index: 1;
}

/* line 613, ../sass/style.scss */
.three-article .center {
  padding: 0 304px;
}

/* line 616, ../sass/style.scss */
.three-article .left {
  float: left;
  width: 273px;
}

/* line 620, ../sass/style.scss */
.three-article .right {
  float: right;
  width: 273px;
}

/* line 624, ../sass/style.scss */
.three-article h2 {
  font-size: 20px;
  padding-top: 5px;
  margin: 0;
}

/* line 629, ../sass/style.scss */
.three-article p {
  margin-top: 16px;
}

/* line 632, ../sass/style.scss */
.p-spr {
  overflow: hidden;
  float: left;
  background: url("../img/p-sprites.png") no-repeat;
  width: 31px;
  height: 31px;
  margin-right: 15px;
}

/* line 640, ../sass/style.scss */
.three-article div:nth-of-type(2) .p-spr {
  background-position: -62px 0;
}

/* line 643, ../sass/style.scss */
.three-article div:nth-of-type(3) .p-spr {
  background-position: -31px 0;
}

/* line 646, ../sass/style.scss */
.second-menu ul {
  text-align: center;
}

/* line 649, ../sass/style.scss */
.second-menu ul li {
  font-size: 18px;
}

/* line 652, ../sass/style.scss */
.second-menu ul li {
  display: inline-block;
  cursor: pointer;
  padding: 6px 15px;
  margin: 0px -4px;
}

/* line 658, ../sass/style.scss */
.menu-gallery li {
  font-size: 14px;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

/* line 664, ../sass/style.scss */
.menu-gallery li:first-of-type {
  margin-left: 0;
}

/* line 667, ../sass/style.scss */
.menu-gallery li.active {
  padding: 7px 8px;
  cursor: default;
}

/* line 671, ../sass/style.scss */
.menu-gallery li.active:hover {
  color: #FFF;
}

/* line 674, ../sass/style.scss */
.second-menu ul li:hover, .menu-gallery li.active, button.orange {
  background: #ea5a4b;
  color: #FFF;
  font-weight: bold;
}

/* line 679, ../sass/style.scss */
form button {
  border: 1px solid transparent;
  text-transform: uppercase;
}

/* line 683, ../sass/style.scss */
.second-menu {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 688, ../sass/style.scss */
.big-gallery {
  margin-top: 20px;
}

/* line 691, ../sass/style.scss */
.gallery-area {
  margin: 5px 0 8px 0;
}

/* line 694, ../sass/style.scss */
.gallery-area li {
  display: inline-block;
  margin: 21px 0px 0px 21px;
  position: relative;
  cursor: pointer;
}

/* line 700, ../sass/style.scss */
.gallery-area li span, .gallery-area li b {
  position: absolute;
  display: none;
  width: 100%;
  bottom: 0;
}

/* line 706, ../sass/style.scss */
.gallery-area li span {
  background: #000;
  opacity: .5;
  height: 30px;
}

/* line 711, ../sass/style.scss */
.gallery-area li b {
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 9px 10px;
}

/* line 717, ../sass/style.scss */
.gallery-area li:hover span, .gallery-area li:hover b {
  display: block;
}

/* line 720, ../sass/style.scss */
.gallery-area li:nth-of-type(4n+1) {
  margin: 21px 0 0px 0px;
}

/* line 723, ../sass/style.scss */
.map {
  margin-top: 18px;
}

/* line 726, ../sass/style.scss */
.description {
  padding-top: 27px;
  overflow: hidden;
}

/* line 730, ../sass/style.scss */
.text-address {
  float: left;
  width: 235px;
}

/* line 734, ../sass/style.scss */
.text-address p {
  margin: 0 0 14px 0;
}

/* line 737, ../sass/style.scss */
.form-message {
  float: right;
  width: 595px;
}

/* line 741, ../sass/style.scss */
.form-message button {
  padding: 7px;
}

/* line 744, ../sass/style.scss */
form input, form textarea {
  padding: 8px;
  border: 1px solid #000;
}

/* line 748, ../sass/style.scss */
form input {
  width: 272px;
}

/* line 751, ../sass/style.scss */
.form-message form input[type="text"] {
  display: block;
  float: left;
  margin: 0 15px 17px 0;
  font-family: Helvetica;
  font-size: 14px;
}

/* line 758, ../sass/style.scss */
.form-message form input[type="text"]:nth-of-type(2n), .form-message form textarea {
  margin: 0 0px 15px 0;
}

/* line 761, ../sass/style.scss */
.form-message form textarea {
  clear: both;
  width: 576px;
  height: 184px;
}

/* line 766, ../sass/style.scss */
.form-message form {
  margin-bottom: 13px;
}

/* line 769, ../sass/style.scss */
.footer {
  color: #ADADAD;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  height: 370px;
}

/* line 776, ../sass/style.scss */
.footer .container {
  padding-top: 66px;
}

/* line 779, ../sass/style.scss */
.footer .left {
  float: left;
  width: 273px;
}

/* line 783, ../sass/style.scss */
.footer .left p {
  border-bottom: 1px solid #3b3b3b;
  padding: 17px 0;
  margin: 0;
}

/* line 788, ../sass/style.scss */
.footer .left p:first-of-type {
  padding-top: inherit;
}

/* line 791, ../sass/style.scss */
.footer .left p:last-of-type {
  border-bottom: none;
}

/* line 794, ../sass/style.scss */
.footer .right {
  float: right;
  width: 300px;
}

/* line 798, ../sass/style.scss */
.footer .center p {
  line-height: 18px;
}

/* line 801, ../sass/style.scss */
.footer .center {
  margin: 0px 321px;
}

/* line 804, ../sass/style.scss */
.footer h1 {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  margin-bottom: 19px;
}

/* line 810, ../sass/style.scss */
.list {
  height: 100px;
  border: 1px solid #dfdfdf;
  border-top: none;
  position: absolute;
  bottom: -32px;
  left: -1px;
  width: 938px;
  background: #fff;
}

/* line 820, ../sass/style.scss */
.socialmedia li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/social-footer.png) no-repeat;
  margin: 0 8px 10px 0px;
  cursor: pointer;
}

/* line 828, ../sass/style.scss */
.socialmedia li:nth-of-type(8), .socialmedia li:nth-of-type(16) {
  margin: 0 0px 10px 0px;
}

/* line 831, ../sass/style.scss */
.socialmedia li:nth-of-type(2) {
  background-position: -30px 0;
}

/* line 834, ../sass/style.scss */
.socialmedia li:nth-of-type(3) {
  background-position: -60px 0;
}

/* line 837, ../sass/style.scss */
.socialmedia li:nth-of-type(4) {
  background-position: -90px 0;
}

/* line 840, ../sass/style.scss */
.socialmedia li:nth-of-type(5) {
  background-position: -120px 0;
}

/* line 843, ../sass/style.scss */
.socialmedia li:nth-of-type(6) {
  background-position: -150px 0;
}

/* line 846, ../sass/style.scss */
.socialmedia li:nth-of-type(7) {
  background-position: -180px 0;
}

/* line 849, ../sass/style.scss */
.socialmedia li:nth-of-type(8) {
  background-position: -210px 0;
}

/* line 852, ../sass/style.scss */
.socialmedia li:nth-of-type(9) {
  background-position: -240px 0;
}

/* line 855, ../sass/style.scss */
.socialmedia li:nth-of-type(10) {
  background-position: -270px 0;
}

/* line 858, ../sass/style.scss */
.socialmedia li:nth-of-type(11) {
  background-position: 0px -30px;
}

/* line 861, ../sass/style.scss */
.socialmedia li:nth-of-type(12) {
  background-position: -30px -30px;
}

/* line 864, ../sass/style.scss */
.socialmedia li:nth-of-type(13) {
  background-position: -60px -30px;
}

/* line 867, ../sass/style.scss */
.socialmedia li:nth-of-type(14) {
  background-position: -90px -30px;
}

/* line 870, ../sass/style.scss */
.socialmedia li:nth-of-type(15) {
  background-position: -120px -30px;
}

/* line 873, ../sass/style.scss */
.socialmedia li:nth-of-type(16) {
  background-position: -150px -30px;
}

/* line 876, ../sass/style.scss */
.socialmedia li:nth-of-type(17) {
  background-position: -180px -30px;
}

/* line 879, ../sass/style.scss */
.socialmedia li:nth-of-type(18) {
  background-position: -210px -30px;
}

/* line 882, ../sass/style.scss */
.socialmedia li:nth-of-type(19) {
  background-position: -240px -30px;
}

/* line 885, ../sass/style.scss */
.socialmedia li:nth-of-type(20) {
  background-position: -270px -30px;
}

/******** General styles ends ********/
/******** Slick styles ********/
/******** Slick styles ends ********/
