/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******** Compass sprites starts ********/
/* line 256, sprite/*.png */
.sprite-sprite, .sprite-applications, .main-area .services a:nth-of-type(4) .contain i, .sprite-arrowl, .carousel-block .carousel-second .prev, .sprite-arrowr, .carousel-block .carousel-second .next, .sprite-dribble, .header .top .social a:nth-of-type(6), .sprite-fb, .header .top .social a:nth-of-type(2), .sprite-goo, .header .top .social a:nth-of-type(5), .sprite-grid, .work .top-work .switch i:nth-of-type(1), .sprite-link, .h-carousel-items div a i::after, .sprite-list, .work .top-work .switch i:nth-of-type(2), .sprite-photography, .main-area .services a:nth-of-type(2) .contain i, .sprite-pinterest, .header .top .social a:nth-of-type(4), .sprite-rss, .header .top .social a:nth-of-type(3), .sprite-seo, .main-area .services a:nth-of-type(3) .contain i, .sprite-twitter, .header .top .social a:nth-of-type(1), .sprite-websites, .main-area .services a:nth-of-type(1) .contain i {
  background-image: url('../img/sprite-s890af27f3a.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-applications, .main-area .services a:nth-of-type(4) .contain i {
  background-position: 0 0;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-applications:hover, .main-area .services a:hover:nth-of-type(4) i, .main-area .services a:nth-of-type(4) .contain i:hover, .sprite-applications.applications-hover, .main-area .services a:nth-of-type(4) .contain i.applications-hover {
  background-position: 0 -53px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrowl, .carousel-block .carousel-second .prev {
  background-position: 0 -106px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrowl:hover, .carousel-block .carousel-second .prev:hover, .sprite-arrowl.arrowl-hover, .carousel-block .carousel-second .arrowl-hover.prev {
  background-position: 0 -147px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrowr, .carousel-block .carousel-second .next {
  background-position: 0 -188px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrowr:hover, .carousel-block .carousel-second .next:hover, .sprite-arrowr.arrowr-hover, .carousel-block .carousel-second .arrowr-hover.next {
  background-position: 0 -229px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-dribble, .header .top .social a:nth-of-type(6) {
  background-position: 0 -270px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-dribble:hover, .header .top .social a:hover:nth-of-type(6), .sprite-dribble.dribble-hover, .header .top .social a.dribble-hover:nth-of-type(6) {
  background-position: 0 -314px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb, .header .top .social a:nth-of-type(2) {
  background-position: 0 -358px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb:hover, .header .top .social a:hover:nth-of-type(2), .sprite-fb.fb-hover, .header .top .social a.fb-hover:nth-of-type(2) {
  background-position: 0 -402px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-goo, .header .top .social a:nth-of-type(5) {
  background-position: 0 -446px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-goo:hover, .header .top .social a:hover:nth-of-type(5), .sprite-goo.goo-hover, .header .top .social a.goo-hover:nth-of-type(5) {
  background-position: 0 -490px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grid, .work .top-work .switch i:nth-of-type(1) {
  background-position: 0 -534px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-link, .h-carousel-items div a i::after {
  background-position: 0 -559px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-list, .work .top-work .switch i:nth-of-type(2) {
  background-position: 0 -611px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-photography, .main-area .services a:nth-of-type(2) .contain i {
  background-position: 0 -636px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-photography:hover, .main-area .services a:hover:nth-of-type(2) i, .main-area .services a:nth-of-type(2) .contain i:hover, .sprite-photography.photography-hover, .main-area .services a:nth-of-type(2) .contain i.photography-hover {
  background-position: 0 -688px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-pinterest, .header .top .social a:nth-of-type(4) {
  background-position: 0 -740px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-pinterest:hover, .header .top .social a:hover:nth-of-type(4), .sprite-pinterest.pinterest-hover, .header .top .social a.pinterest-hover:nth-of-type(4) {
  background-position: 0 -784px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-rss, .header .top .social a:nth-of-type(3) {
  background-position: 0 -828px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-rss:hover, .header .top .social a:hover:nth-of-type(3), .sprite-rss.rss-hover, .header .top .social a.rss-hover:nth-of-type(3) {
  background-position: 0 -872px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-seo, .main-area .services a:nth-of-type(3) .contain i {
  background-position: 0 -916px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-seo:hover, .main-area .services a:hover:nth-of-type(3) i, .main-area .services a:nth-of-type(3) .contain i:hover, .sprite-seo.seo-hover, .main-area .services a:nth-of-type(3) .contain i.seo-hover {
  background-position: 0 -972px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter, .header .top .social a:nth-of-type(1) {
  background-position: 0 -1028px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter:hover, .header .top .social a:hover:nth-of-type(1), .sprite-twitter.twitter-hover, .header .top .social a.twitter-hover:nth-of-type(1) {
  background-position: 0 -1072px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-websites, .main-area .services a:nth-of-type(1) .contain i {
  background-position: 0 -1116px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-websites:hover, .main-area .services a:hover:nth-of-type(1) i, .main-area .services a:nth-of-type(1) .contain i:hover, .sprite-websites.websites-hover, .main-area .services a:nth-of-type(1) .contain i.websites-hover {
  background-position: 0 -1184px;
}

/******** Compass sprites ends ********/
/******** Apple text hack starts ********/
/* line 16, ../sass/style.scss */
div, span, a, li, h1, h2, h3, h4,
h5, h6, td, input, textarea, button {
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz--text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}

/* line 24, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none !important;
}

/******** Apple text hack ends ********/
/******** General styles starts ********/
/* fonts */
@font-face {
  font-family: Novecento, Arial;
  src: url("../fonts/Novecento WideNormal.otf");
  font-weight: normal;
}
@font-face {
  font-family: Novecento, Arial;
  src: url("../fonts/Novecento WideLight.otf");
  font-weight: lighter;
}
@font-face {
  font-family: Novecento, Arial;
  src: url("../fonts/Novecento WideBold.otf");
  font-weight: bold;
}
/* variables */
/* line 61, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 64, ../sass/style.scss */
body {
  font-family: "Novecento", Arial;
  color: #8a8888;
}

/* line 68, ../sass/style.scss */
#container {
  min-height: 100%;
  height: auto !important;
  /* for IE6 support */
  height: 100%;
  margin: 0 auto -203px;
}

/* line 74, ../sass/style.scss */
#puch, #footer {
  height: 203px;
}

/* line 77, ../sass/style.scss */
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: bold;
}

/* line 81, ../sass/style.scss */
h2 {
  font-size: 24px;
}

/* line 84, ../sass/style.scss */
.wrap {
  width: 940px;
  margin: 0 auto;
}

/* line 89, ../sass/style.scss */
.header .title {
  background: #2ecc71;
}
/* line 91, ../sass/style.scss */
.header .title h1 {
  font-size: 30px;
  line-height: 99px;
  color: #FFF;
}
/* line 97, ../sass/style.scss */
.header .top {
  overflow: hidden;
  border-bottom: 1px solid #dadada;
}
/* line 100, ../sass/style.scss */
.header .top .logo {
  display: block;
  text-decoration: none;
  overflow: hidden;
  float: left;
  padding: 30px 0;
}
/* line 106, ../sass/style.scss */
.header .top .logo img {
  float: left;
}
/* line 109, ../sass/style.scss */
.header .top .logo span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
  margin: 14px 0 0px 14px;
  float: left;
  color: #8a8888;
}
/* line 118, ../sass/style.scss */
.header .top .social {
  float: right;
  margin-top: 46px;
}
/* line 121, ../sass/style.scss */
.header .top .social a {
  display: inline-block;
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin-left: 3px;
}
/* line 148, ../sass/style.scss */
.header .bottom {
  padding: 28px 0;
}
/* line 151, ../sass/style.scss */
.header .bottom .nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #737373;
  font-weight: bold;
  font-size: 17px;
  margin-right: 27px;
}
/* line 158, ../sass/style.scss */
.header .bottom .nav a:hover {
  color: #2ecc71;
}

/* line 165, ../sass/style.scss */
.slider {
  position: relative;
  background: url(../img/slider.png) no-repeat center;
  min-height: 795px;
  background-size: cover;
}
/* line 170, ../sass/style.scss */
.slider p {
  text-transform: uppercase;
}
/* line 173, ../sass/style.scss */
.slider .description {
  position: absolute;
  bottom: 49px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 755px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}
/* line 184, ../sass/style.scss */
.slider .description .button {
  margin-top: 24px;
}

/* line 189, ../sass/style.scss */
.button {
  text-transform: uppercase;
  background: #2ecc71;
  color: white;
  font-weight: bold;
  padding: 8px 12px;
  display: inline-block;
  cursor: pointer;
}

/* line 199, ../sass/style.scss */
form input, form textarea {
  display: block;
  border: 2px solid #8a8888;
  width: 316px;
  padding: 13px 15px;
  margin-bottom: 15px;
}

/* line 208, ../sass/style.scss */
.main-area .textContacts {
  overflow: hidden;
  padding-bottom: 48px;
}
/* line 211, ../sass/style.scss */
.main-area .textContacts h2 {
  margin: 41px 0 19px 0;
}
/* line 214, ../sass/style.scss */
.main-area .textContacts p {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 24px;
}
/* line 219, ../sass/style.scss */
.main-area .textContacts strong {
  font-weight: bold;
}
/* line 224, ../sass/style.scss */
.main-area .textContacts .info p span {
  color: #2ecc71;
}
/* line 228, ../sass/style.scss */
.main-area .textContacts .info table {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
}
/* line 233, ../sass/style.scss */
.main-area .textContacts .info table tr td:nth-of-type(2) {
  width: 78px;
}
/* line 239, ../sass/style.scss */
.main-area .textContacts .form {
  float: left;
  width: 570px;
}
/* line 242, ../sass/style.scss */
.main-area .textContacts .form form {
  margin-top: 21px;
}
/* line 244, ../sass/style.scss */
.main-area .textContacts .form form .button {
  font-size: 14px;
  padding: 14px;
}
/* line 248, ../sass/style.scss */
.main-area .textContacts .form form textarea {
  height: 191px;
  width: 526px;
}
/* line 254, ../sass/style.scss */
.main-area .textContacts .info {
  float: right;
  width: 271px;
}
/* line 259, ../sass/style.scss */
.main-area .services {
  padding-bottom: 41px;
}
/* line 261, ../sass/style.scss */
.main-area .services .serv-text {
  font-size: 14px;
  line-height: 22px;
}
/* line 264, ../sass/style.scss */
.main-area .services .serv-text p {
  margin-bottom: 16px;
}
/* line 267, ../sass/style.scss */
.main-area .services .serv-text ul {
  list-style-image: url(../img/arrowMini.png);
  margin-left: 33px;
  line-height: 25px;
}
/* line 271, ../sass/style.scss */
.main-area .services .serv-text ul li {
  padding-left: 4px;
}
/* line 276, ../sass/style.scss */
.main-area .services .container {
  background: #efefef;
  height: 200px;
  margin: 25px 0;
  text-transform: uppercase;
}
/* line 281, ../sass/style.scss */
.main-area .services .container .items {
  overflow: hidden;
}
/* line 285, ../sass/style.scss */
.main-area .services a {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  width: 235px;
  height: 200px;
  text-align: center;
  color: #737373;
}
/* line 294, ../sass/style.scss */
.main-area .services a:hover {
  background: #dadada;
  color: #423e3e;
}
/* line 310, ../sass/style.scss */
.main-area .services a .contain {
  display: inline-block;
  text-align: center;
}
/* line 314, ../sass/style.scss */
.main-area .services a:nth-of-type(1) .contain {
  margin-top: 51px;
}
/* line 316, ../sass/style.scss */
.main-area .services a:nth-of-type(1) .contain i {
  height: 58px;
  margin-bottom: 24px;
}
/* line 322, ../sass/style.scss */
.main-area .services a:nth-of-type(2) .contain {
  margin-top: 62px;
}
/* line 324, ../sass/style.scss */
.main-area .services a:nth-of-type(2) .contain i {
  height: 42px;
  margin-bottom: 30px;
}
/* line 330, ../sass/style.scss */
.main-area .services a:nth-of-type(3) .contain {
  margin-top: 57px;
}
/* line 332, ../sass/style.scss */
.main-area .services a:nth-of-type(3) .contain i {
  width: 45px;
  height: 46px;
  margin-bottom: 30px;
}
/* line 339, ../sass/style.scss */
.main-area .services a:nth-of-type(4) .contain {
  margin-top: 57px;
}
/* line 341, ../sass/style.scss */
.main-area .services a:nth-of-type(4) .contain i {
  height: 43px;
  margin-bottom: 33px;
}
/* line 347, ../sass/style.scss */
.main-area .services a i {
  display: block;
  width: 50px;
  margin: auto;
}
/* line 352, ../sass/style.scss */
.main-area .services a b {
  font-size: 17px;
  font-weight: bold;
}
/* line 358, ../sass/style.scss */
.main-area .media-block {
  background: #efefef;
  padding-top: 36px;
  overflow: hidden;
  padding-bottom: 20px;
}
/* line 359, ../sass/style.scss */
.main-area .media-block h2 {
  margin-bottom: 20px;
}
/* line 362, ../sass/style.scss */
.main-area .media-block p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 21px;
}
/* line 367, ../sass/style.scss */
.main-area .media-block.about {
  background: none;
  padding-top: 45px;
}
/* line 370, ../sass/style.scss */
.main-area .media-block.about .video {
  padding-top: 5px;
}
/* line 373, ../sass/style.scss */
.main-area .media-block.about .coloumns {
  overflow: hidden;
  clear: both;
  padding-top: 29px;
}
/* line 377, ../sass/style.scss */
.main-area .media-block.about .coloumns div {
  width: 450px;
}
/* line 380, ../sass/style.scss */
.main-area .media-block.about .coloumns div:first-of-type {
  float: left;
}
/* line 383, ../sass/style.scss */
.main-area .media-block.about .coloumns div:last-of-type {
  float: right;
}
/* line 392, ../sass/style.scss */
.main-area .media-block .video {
  float: left;
}
/* line 395, ../sass/style.scss */
.main-area .media-block .description {
  float: right;
  width: 530px;
}

/* line 401, ../sass/style.scss */
.carousel-block {
  padding-top: 47px;
}
/* line 404, ../sass/style.scss */
.carousel-block .carousel div {
  display: inline-block;
}
/* line 408, ../sass/style.scss */
.carousel-block .description {
  width: 711px;
  margin: 0 auto;
  text-align: center;
}
/* line 412, ../sass/style.scss */
.carousel-block .description h2 {
  margin-bottom: 21px;
}
/* line 415, ../sass/style.scss */
.carousel-block .description p {
  font-size: 14px;
  line-height: 21px;
}
/* line 420, ../sass/style.scss */
.carousel-block .carousel {
  width: 100%;
  margin: 43px auto;
}
/* line 423, ../sass/style.scss */
.carousel-block .carousel .h-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/* line 427, ../sass/style.scss */
.carousel-block .carousel .h-carousel-wrapper .h-carousel-items {
  width: 10000px;
}
/* line 430, ../sass/style.scss */
.carousel-block .carousel .h-carousel-wrapper .h-carousel-items div a {
  background: rgba(255, 255, 255, 0.6);
  z-index: 100;
}
/* line 433, ../sass/style.scss */
.carousel-block .carousel .h-carousel-wrapper .h-carousel-items div a:hover {
  background: none;
  transition: all 0.4s ease-out 0s;
}
/* line 442, ../sass/style.scss */
.carousel-block .carousel-second {
  margin: 43px auto;
  width: 646px;
  position: relative;
  text-align: center;
}
/* line 447, ../sass/style.scss */
.carousel-block .carousel-second i {
  width: 21px;
  height: 31px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 23px;
}
/* line 458, ../sass/style.scss */
.carousel-block .carousel-second .next {
  right: 0;
}
/* line 462, ../sass/style.scss */
.carousel-block .carousel-second .carousel-wrapper {
  width: 480px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 467, ../sass/style.scss */
.carousel-block .carousel-second .carousel-wrapper .carousel-items h3 {
  font-size: 17px;
  padding-bottom: 16px;
}
/* line 471, ../sass/style.scss */
.carousel-block .carousel-second .carousel-wrapper .carousel-items p {
  font-size: 13px;
  line-height: 23px;
}

/* line 480, ../sass/style.scss */
.work .h-carousel-items {
  padding-bottom: 41px;
}
/* line 482, ../sass/style.scss */
.work .h-carousel-items div {
  margin: 20px 15px 0px 0;
}
/* line 484, ../sass/style.scss */
.work .h-carousel-items div:nth-of-type(3n) {
  margin-right: 0;
}
/* line 487, ../sass/style.scss */
.work .h-carousel-items div a {
  height: 220px;
}
/* line 489, ../sass/style.scss */
.work .h-carousel-items div a:hover {
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease-out 0s;
}
/* line 496, ../sass/style.scss */
.work .top-work {
  padding: 46px 0;
}
/* line 498, ../sass/style.scss */
.work .top-work .slMenu {
  width: 540px;
  float: left;
  margin-top: 3px;
}
/* line 503, ../sass/style.scss */
.work .top-work .switch {
  float: right;
  width: 50px;
}
/* line 506, ../sass/style.scss */
.work .top-work .switch i {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

/* line 524, ../sass/style.scss */
.h-carousel-items div {
  display: inline-block;
  position: relative;
}
/* line 527, ../sass/style.scss */
.h-carousel-items div a {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 534, ../sass/style.scss */
.h-carousel-items div a i {
  width: 98px;
  height: 98px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #2ecc71;
  border-radius: 100px;
  display: none;
}
/* line 547, ../sass/style.scss */
.h-carousel-items div a i::after {
  content: "";
  width: 33px;
  height: 42px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 560, ../sass/style.scss */
.h-carousel-items div a:hover i {
  display: block;
}

/* line 566, ../sass/style.scss */
#footer {
  text-transform: uppercase;
}
/* line 568, ../sass/style.scss */
#footer .top {
  overflow: hidden;
  background: #322f2f;
  padding: 55px 0 47px 0;
}
/* line 572, ../sass/style.scss */
#footer .top span {
  display: block;
}
/* line 575, ../sass/style.scss */
#footer .top .question {
  color: #FFF;
  float: left;
  font-size: 23px;
  font-weight: bold;
  padding-top: 6px;
}
/* line 582, ../sass/style.scss */
#footer .top .button {
  float: right;
  padding: 15px 19px 11px 23px;
  font-size: 14px;
}
/* line 588, ../sass/style.scss */
#footer .bottom {
  padding: 24px 0 41px 0;
}
/* line 590, ../sass/style.scss */
#footer .bottom .copyright {
  float: left;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
}
/* line 597, ../sass/style.scss */
#footer .bottom .slMenu {
  float: right;
}
/* line 599, ../sass/style.scss */
#footer .bottom .slMenu a {
  font-size: 13px;
}
/* line 601, ../sass/style.scss */
#footer .bottom .slMenu a::after {
  margin-left: 3px;
  margin-right: 0;
}

/* line 610, ../sass/style.scss */
.slMenu a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #a5a5a5;
}
/* line 616, ../sass/style.scss */
.slMenu a:last-of-type::after {
  content: "";
}
/* line 619, ../sass/style.scss */
.slMenu a::after {
  content: "/";
  margin: 0 13px;
}
/* line 623, ../sass/style.scss */
.slMenu a:hover {
  color: #2ecc71;
}
/* line 625, ../sass/style.scss */
.slMenu a:hover::after {
  color: #a5a5a5;
  cursor: default;
}

/******** General styles ends ********/
