/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******** Compass sprites starts ********/
/* line 320, sprite/*.png */
.sprite-sprite, .sprite-arabic, .top-menu a:nth-of-type(4)::before, .sprite-arrow, .sprite-blog, .top-menu a:nth-of-type(1)::before, .sprite-boxLink, .sprite-boxMore, .sprite-fb, .social div:nth-of-type(1) a, .sprite-footerFacebook, .sprite-footerGoogle, .sprite-footerInstagram, .sprite-footerTwitter, .sprite-g, .social div:nth-of-type(4) a, .sprite-grayFacebook, .sprite-grayIn, .sprite-grayInstagram, .sprite-grayTwitter, .sprite-inst, .social div:nth-of-type(3) a, .sprite-jobs, .top-menu a:nth-of-type(2)::before, .sprite-loop, .top3 .search i, .sprite-mail, .logo .logoContacts div:nth-of-type(3) i, .sprite-maillist, .sprite-mapMail, .sprite-mapPhone, .sprite-mapPlace, .sprite-phone, .logo .logoContacts div:nth-of-type(1) i, .sprite-place, .logo .logoContacts div:nth-of-type(2) i, .sprite-search, .sprite-support, .top-menu a:nth-of-type(3)::before, .sprite-trangle, .modal b, .sprite-twitter, .social div:nth-of-type(2) a {
  background-image: url('../img/sprite-s09b17d38e3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arabic, .top-menu a:nth-of-type(4)::before {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow {
  background-position: 0 -29px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-blog, .top-menu a:nth-of-type(1)::before {
  background-position: 0 -79px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-boxLink {
  background-position: 0 -108px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-boxMore {
  background-position: 0 -141px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb, .social div:nth-of-type(1) a {
  background-position: 0 -175px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerFacebook {
  background-position: 0 -206px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerGoogle {
  background-position: 0 -237px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerInstagram {
  background-position: 0 -268px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerTwitter {
  background-position: 0 -299px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-g, .social div:nth-of-type(4) a {
  background-position: 0 -330px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayFacebook {
  background-position: 0 -361px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayIn {
  background-position: 0 -392px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayInstagram {
  background-position: 0 -423px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayTwitter {
  background-position: 0 -454px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-inst, .social div:nth-of-type(3) a {
  background-position: 0 -482px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-jobs, .top-menu a:nth-of-type(2)::before {
  background-position: 0 -513px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-loop, .top3 .search i {
  background-position: 0 -545px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mail, .logo .logoContacts div:nth-of-type(3) i {
  background-position: 0 -580px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mail:hover, .logo .logoContacts div:nth-of-type(3) i:hover, .sprite-mail.mail-hover, .logo .logoContacts div:nth-of-type(3) i.mail-hover {
  background-position: 0 -615px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-maillist {
  background-position: 0 -650px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapMail {
  background-position: 0 -686px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapMail:hover, .sprite-mapMail.mapMail-hover {
  background-position: 0 -731px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPhone {
  background-position: 0 -776px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPhone:hover, .sprite-mapPhone.mapPhone-hover {
  background-position: 0 -826px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPlace {
  background-position: 0 -876px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPlace:hover, .sprite-mapPlace.mapPlace-hover {
  background-position: 0 -934px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-phone, .logo .logoContacts div:nth-of-type(1) i {
  background-position: 0 -992px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-phone:hover, .logo .logoContacts div:nth-of-type(1) i:hover, .sprite-phone.phone-hover, .logo .logoContacts div:nth-of-type(1) i.phone-hover {
  background-position: 0 -1031px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-place, .logo .logoContacts div:nth-of-type(2) i {
  background-position: 0 -1070px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-place:hover, .logo .logoContacts div:nth-of-type(2) i:hover, .sprite-place.place-hover, .logo .logoContacts div:nth-of-type(2) i.place-hover {
  background-position: 0 -1114px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-search {
  background-position: 0 -1158px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-support, .top-menu a:nth-of-type(3)::before {
  background-position: 0 -1193px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-trangle, .modal b {
  background-position: 0 -1220px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter, .social div:nth-of-type(2) a {
  background-position: 0 -1244px;
}

/******** Compass sprites ends ********/
/******** Apple text hack starts ********/
/* line 16, ../sass/style.scss */
div, span, a, li, h1, h2, h3, h4,
h5, h6, td, input, textarea, button {
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz--text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}

/* line 24, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none !important;
}

/******** Apple text hack ends ********/
/******** General styles starts ********/
/* variables */
/* line 45, ../sass/style.scss */
body {
  color: #6D6E71;
  min-width: 950px;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 51, ../sass/style.scss */
.wrap {
  width: 1160px;
  margin: 0 auto;
}

/* line 55, ../sass/style.scss */
.top {
  background: #eceef4;
}

/* line 58, ../sass/style.scss */
.top-menu {
  float: left;
  margin: 16px 0;
  padding: 0;
}

/* line 63, ../sass/style.scss */
.menu {
  overflow: hidden;
}

/* line 66, ../sass/style.scss */
.top-menu a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFF;
  width: 99px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  color: #6D6E71;
}
/* line 77, ../sass/style.scss */
.top-menu a::before {
  content: "";
  display: block;
  float: left;
  width: 19px;
  height: 19px;
  margin-top: 6px;
  margin-left: 8px;
}
/* line 86, ../sass/style.scss */
.top-menu a:nth-of-type(1)::before {
  margin: 7px 21px 0 8px;
}
/* line 89, ../sass/style.scss */
.top-menu a:nth-of-type(2)::before {
  height: 22px;
  margin: 4px 19px 0 9px;
}
/* line 93, ../sass/style.scss */
.top-menu a:nth-of-type(3)::before {
  margin: 8px 12px 0 9px;
}
/* line 96, ../sass/style.scss */
.top-menu a:nth-of-type(4)::before {
  margin: 7px 17px 0 10px;
}

/* line 100, ../sass/style.scss */
.social {
  float: right;
}
/* line 102, ../sass/style.scss */
.social div {
  float: left;
  border-left: 1px solid #DEE0E6;
}
/* line 105, ../sass/style.scss */
.social div:last-of-type {
  border-right: 1px solid #DEE0E6;
}
/* line 108, ../sass/style.scss */
.social div a {
  display: block;
  height: 21px;
  width: 25px;
  margin: 21px 19px;
}

/* line 128, ../sass/style.scss */
.logo {
  overflow: hidden;
  padding: 56px 0;
  border-bottom: 1px solid #eceef4;
}
/* line 132, ../sass/style.scss */
.logo div[class^="logo"]:nth-of-type(1) {
  float: left;
}
/* line 135, ../sass/style.scss */
.logo div[class^="logo"]:nth-of-type(2) {
  float: right;
}
/* line 138, ../sass/style.scss */
.logo .logoContacts {
  margin-right: 8px;
}
/* line 140, ../sass/style.scss */
.logo .logoContacts .modal {
  margin-bottom: 20px;
}
/* line 143, ../sass/style.scss */
.logo .logoContacts div {
  float: left;
  position: relative;
  width: 75px;
  height: 33px;
}
/* line 148, ../sass/style.scss */
.logo .logoContacts div i {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 158, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(1) i {
  width: 28px;
  height: 29px;
}
/* line 163, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 1px;
  background: #bcbec3;
  left: 74px;
  top: 5px;
}
/* line 173, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  display: block;
  height: 24px;
  width: 1px;
  background: #bcbec3;
  top: 5px;
  left: 4px;
}
/* line 183, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2) i {
  width: 25px;
  height: 34px;
}
/* line 188, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(3) i {
  width: 30px;
  height: 25px;
}

/* line 196, ../sass/style.scss */
.modal {
  display: block;
  position: relative;
  display: block;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  color: #6D6E71;
  font-weight: normal;
  margin-bottom: 12px;
  text-align: center;
  padding: 15px 23px;
}
/* line 207, ../sass/style.scss */
.modal i {
  font-style: normal;
  font-size: 16px;
}
/* line 211, ../sass/style.scss */
.modal b {
  display: block;
  position: absolute;
  width: 29px;
  height: 14px;
  bottom: -12px;
}

/* line 220, ../sass/style.scss */
.top3 {
  overflow: hidden;
}
/* line 222, ../sass/style.scss */
.top3 .nav {
  float: left;
}
/* line 224, ../sass/style.scss */
.top3 .nav li {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  border-left: 1px solid #eceef4;
  padding: 0px 20px;
  line-height: 86px;
  cursor: pointer;
}
/* line 225, ../sass/style.scss */
.top3 .nav li:first-of-type {
  padding-left: 15px;
  border-left: none;
}
/* line 229, ../sass/style.scss */
.top3 .nav li:hover {
  color: #3bb0e4;
}
/* line 232, ../sass/style.scss */
.top3 .nav li.active {
  text-transform: uppercase;
  color: #3bb0e4;
  position: relative;
}
/* line 236, ../sass/style.scss */
.top3 .nav li.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 10px solid #1faae2;
}
/* line 260, ../sass/style.scss */
.top3 .search {
  float: right;
  padding-top: 26px;
}
/* line 263, ../sass/style.scss */
.top3 .search i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 4px;
}
/* line 270, ../sass/style.scss */
.top3 .search input {
  border: none;
  padding: 8px;
  margin: 0 15px 0 6px;
  font-size: 15px;
}

/* line 278, ../sass/style.scss */
.big_area {
  background-image: url(../img/back.jpg);
  height: 885px;
  color: #FFF;
}
/* line 282, ../sass/style.scss */
.big_area .toptext {
  width: 780px;
  height: 91px;
  margin: 0 auto;
  background: url(../img/and.png) no-repeat;
}
/* line 287, ../sass/style.scss */
.big_area .toptext b {
  text-transform: uppercase;
  font-size: 50px;
  display: block;
  font-weight: bold;
}
/* line 293, ../sass/style.scss */
.big_area .toptext span {
  font-size: 32px;
  display: block;
}

/******** General styles ends ********/
