/* line 5, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******** Compass sprites starts ********/
/* line 320, sprite/*.png */
.sprite-sprite, .sprite-arabic, .top-menu a:nth-of-type(4)::before, .sprite-arrow, .slider .next i, .sprite-blog, .top-menu a:nth-of-type(1)::before, .sprite-boxLink, .sprite-boxMore, .sprite-fb, .social a:nth-of-type(1) i, .sprite-footerFacebook, .sprite-footerGoogle, .sprite-footerInstagram, .sprite-footerTwitter, .sprite-g, .social a:nth-of-type(4) i, .sprite-grayFacebook, .sprite-grayIn, .sprite-grayInstagram, .sprite-grayTwitter, .sprite-inst, .social a:nth-of-type(3) i, .sprite-jobs, .top-menu a:nth-of-type(2)::before, .sprite-loop, .top3 .search i, .sprite-mail, .logo .logoContacts div:nth-of-type(3) i, .sprite-maillist, .sprite-mapMail, .sprite-mapPhone, .sprite-mapPlace, .sprite-phone, .logo .logoContacts div:nth-of-type(1) i, .sprite-place, .logo .logoContacts div:nth-of-type(2) i, .sprite-search, .sprite-support, .top-menu a:nth-of-type(3)::before, .sprite-trangle, .modal b, .sprite-twitter, .social a:nth-of-type(2) i {
  background-image: url('../img/sprite-s09b17d38e3.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arabic, .top-menu a:nth-of-type(4)::before {
  background-position: 0 0;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-arrow, .slider .next i {
  background-position: 0 -29px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-blog, .top-menu a:nth-of-type(1)::before {
  background-position: 0 -79px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-boxLink {
  background-position: 0 -108px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-boxMore {
  background-position: 0 -141px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-fb, .social a:nth-of-type(1) i {
  background-position: 0 -175px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerFacebook {
  background-position: 0 -206px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerGoogle {
  background-position: 0 -237px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerInstagram {
  background-position: 0 -268px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-footerTwitter {
  background-position: 0 -299px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-g, .social a:nth-of-type(4) i {
  background-position: 0 -330px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayFacebook {
  background-position: 0 -361px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayIn {
  background-position: 0 -392px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayInstagram {
  background-position: 0 -423px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-grayTwitter {
  background-position: 0 -454px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-inst, .social a:nth-of-type(3) i {
  background-position: 0 -482px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-jobs, .top-menu a:nth-of-type(2)::before {
  background-position: 0 -513px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-loop, .top3 .search i {
  background-position: 0 -545px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mail, .logo .logoContacts div:nth-of-type(3) i {
  background-position: 0 -580px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mail:hover, .logo .logoContacts div:nth-of-type(3) i:hover, .sprite-mail.mail-hover, .logo .logoContacts div:nth-of-type(3) i.mail-hover {
  background-position: 0 -615px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-maillist {
  background-position: 0 -650px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapMail {
  background-position: 0 -686px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapMail:hover, .sprite-mapMail.mapMail-hover {
  background-position: 0 -731px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPhone {
  background-position: 0 -776px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPhone:hover, .sprite-mapPhone.mapPhone-hover {
  background-position: 0 -826px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPlace {
  background-position: 0 -876px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-mapPlace:hover, .sprite-mapPlace.mapPlace-hover {
  background-position: 0 -934px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-phone, .logo .logoContacts div:nth-of-type(1) i {
  background-position: 0 -992px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-phone:hover, .logo .logoContacts div:nth-of-type(1) i:hover, .sprite-phone.phone-hover, .logo .logoContacts div:nth-of-type(1) i.phone-hover {
  background-position: 0 -1031px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-place, .logo .logoContacts div:nth-of-type(2) i {
  background-position: 0 -1070px;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-place:hover, .logo .logoContacts div:nth-of-type(2) i:hover, .sprite-place.place-hover, .logo .logoContacts div:nth-of-type(2) i.place-hover {
  background-position: 0 -1114px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-search {
  background-position: 0 -1158px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-support, .top-menu a:nth-of-type(3)::before {
  background-position: 0 -1193px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-trangle, .modal b {
  background-position: 0 -1220px;
}

/* line 84, ../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.sprite-twitter, .social a:nth-of-type(2) i {
  background-position: 0 -1244px;
}

/******** Compass sprites ends ********/
/******** Apple text hack starts ********/
/* line 16, ../sass/style.scss */
div, span, a, li, h1, h2, h3, h4,
h5, h6, td, input, textarea, button {
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  -moz--text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
}

/* line 24, ../sass/style.scss */
input[type=text],
input[type=password],
input[type=submit],
textarea {
  -webkit-appearance: none !important;
}

/******** Apple text hack ends ********/
/******** General styles starts ********/
/* variables */
/* line 46, ../sass/style.scss */
body {
  color: #6D6E71;
  min-width: 950px;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 52, ../sass/style.scss */
.wrap {
  width: 1160px;
  margin: 0 auto;
}

/* line 56, ../sass/style.scss */
.top {
  background: #eceef4;
}

/* line 59, ../sass/style.scss */
.top-menu {
  float: left;
  margin: 16px 0;
  padding: 0;
}

/* line 64, ../sass/style.scss */
.menu {
  overflow: hidden;
}

/* line 67, ../sass/style.scss */
.top-menu a {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  background-color: #FFF;
  width: 99px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  color: #6D6E71;
}
/* line 78, ../sass/style.scss */
.top-menu a::before {
  content: "";
  display: block;
  float: left;
  width: 19px;
  height: 19px;
  margin-top: 6px;
  margin-left: 8px;
}
/* line 87, ../sass/style.scss */
.top-menu a:nth-of-type(1)::before {
  margin: 7px 21px 0 8px;
}
/* line 90, ../sass/style.scss */
.top-menu a:nth-of-type(2)::before {
  height: 22px;
  margin: 4px 19px 0 9px;
}
/* line 94, ../sass/style.scss */
.top-menu a:nth-of-type(3)::before {
  margin: 8px 12px 0 9px;
}
/* line 97, ../sass/style.scss */
.top-menu a:nth-of-type(4)::before {
  margin: 7px 17px 0 10px;
}

/* line 101, ../sass/style.scss */
.social {
  float: right;
}
/* line 103, ../sass/style.scss */
.social a {
  display: block;
  float: left;
  border-left: 1px solid #DEE0E6;
}
/* line 107, ../sass/style.scss */
.social a:last-of-type {
  border-right: 1px solid #DEE0E6;
}
/* line 110, ../sass/style.scss */
.social a i {
  display: block;
  height: 21px;
  width: 25px;
  margin: 21px 19px;
}

/* line 130, ../sass/style.scss */
.logo {
  overflow: hidden;
  padding: 56px 0;
  border-bottom: 1px solid #eceef4;
}
/* line 134, ../sass/style.scss */
.logo div[class^="logo"]:nth-of-type(1) {
  float: left;
}
/* line 137, ../sass/style.scss */
.logo div[class^="logo"]:nth-of-type(2) {
  float: right;
}
/* line 140, ../sass/style.scss */
.logo .logoContacts {
  margin-right: 8px;
}
/* line 142, ../sass/style.scss */
.logo .logoContacts .modal {
  margin-bottom: 20px;
}
/* line 145, ../sass/style.scss */
.logo .logoContacts div {
  float: left;
  position: relative;
  width: 75px;
  height: 33px;
}
/* line 150, ../sass/style.scss */
.logo .logoContacts div i {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 160, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(1) i {
  width: 28px;
  height: 29px;
}
/* line 165, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2)::after {
  content: "";
  display: block;
  position: absolute;
  height: 24px;
  width: 1px;
  background: #bcbec3;
  left: 74px;
  top: 5px;
}
/* line 175, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2)::before {
  content: "";
  position: absolute;
  display: block;
  height: 24px;
  width: 1px;
  background: #bcbec3;
  top: 5px;
  left: 4px;
}
/* line 185, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(2) i {
  width: 25px;
  height: 34px;
}
/* line 190, ../sass/style.scss */
.logo .logoContacts div:nth-of-type(3) i {
  width: 30px;
  height: 25px;
}

/* line 198, ../sass/style.scss */
.modal {
  display: block;
  position: relative;
  display: block;
  border: 2px solid #d4d4d5;
  border-radius: 5px;
  color: #6D6E71;
  font-weight: normal;
  margin-bottom: 12px;
  text-align: center;
  padding: 15px 23px;
}
/* line 209, ../sass/style.scss */
.modal i {
  font-style: normal;
  font-size: 15px;
}
/* line 213, ../sass/style.scss */
.modal b {
  display: block;
  position: absolute;
  width: 29px;
  height: 14px;
  bottom: -12px;
}

/* line 222, ../sass/style.scss */
.top3 {
  overflow: hidden;
}
/* line 224, ../sass/style.scss */
.top3 .nav {
  float: left;
}
/* line 226, ../sass/style.scss */
.top3 .nav li {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  border-left: 1px solid #eceef4;
  padding: 0px 22px;
  line-height: 86px;
  cursor: pointer;
}
/* line 227, ../sass/style.scss */
.top3 .nav li:first-of-type {
  padding-left: 15px;
  border-left: none;
}
/* line 231, ../sass/style.scss */
.top3 .nav li:hover {
  color: #3bb0e4;
}
/* line 234, ../sass/style.scss */
.top3 .nav li.active {
  text-transform: uppercase;
  color: #3bb0e4;
  position: relative;
}
/* line 238, ../sass/style.scss */
.top3 .nav li.active::after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0px;
  width: 0px;
  height: 0px;
  margin: auto;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 10px solid #1faae2;
}
/* line 262, ../sass/style.scss */
.top3 .search {
  float: right;
  padding-top: 26px;
}
/* line 265, ../sass/style.scss */
.top3 .search i {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-top: 4px;
}
/* line 272, ../sass/style.scss */
.top3 .search input {
  border: none;
  padding: 8px;
  margin: 0 15px 0 6px;
  font-size: 15px;
}

/* line 280, ../sass/style.scss */
.big_area {
  background: url(../img/back.jpg) no-repeat center;
  height: 885px;
  color: #FFF;
}
/* line 284, ../sass/style.scss */
.big_area .toptext {
  width: 780px;
  height: 110px;
  margin: 0 auto;
  background: url(../img/and.png) no-repeat;
  background-position: 13px bottom;
  padding-top: 255px;
}
/* line 291, ../sass/style.scss */
.big_area .toptext b {
  text-transform: uppercase;
  font-size: 58px;
  display: block;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
/* line 298, ../sass/style.scss */
.big_area .toptext span {
  font-size: 45px;
  display: block;
  font-weight: lighter;
  padding: 10px 0 0 113px;
}

/* line 306, ../sass/style.scss */
.slider {
  overflow: hidden;
  width: 755px;
  float: right;
  margin-top: 155px;
}
/* line 311, ../sass/style.scss */
.slider .slide {
  float: left;
}
/* line 314, ../sass/style.scss */
.slider .next {
  float: left;
  position: relative;
  height: 243px;
  width: 111px;
  background: #f4f4f4;
  cursor: pointer;
}
/* line 321, ../sass/style.scss */
.slider .next i {
  position: absolute;
  width: 23px;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/******** General styles ends ********/
