@import 'compass/reset';


/******** Compass sprites starts ********/
	@import "compass/utilities/sprites";

$social-layout: normal;
$sprite-spacing: 10px;
@import "sprite/*.png";
@include all-sprite-sprites; 

/******** Compass sprites ends ********/


/******** Apple text hack starts ********/
	div, span, a, li, h1, h2, h3, h4, 
	h5, h6, td, input, textarea, button {
		-webkit-text-size-adjust: none;
		-o-text-size-adjust: none;
		-moz--text-size-adjust: none;
		text-size-adjust: none;
		max-height: 999999px;
	}
	input[type=text],
	input[type=password],
	input[type=submit],
	textarea {
		-webkit-appearance: none !important;
	}
/******** Apple text hack ends ********/


/******** General styles starts ********/
/* Fonts */
@import "http://webfonts.ru/import/osans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/


/* variables */
$colorGray: #6D6E71;
$lightGray: #eceef4;
$grayBrdr: #DEE0E6;
$gray3: #bcbec3;
$gray4: #d4d4d5;
$gray5: #efefef;
$grayCe: #cecece;
$hoverBlue: #3bb0e4;
$superBlue: #1faae2;
$blue2: #bbedff;
$lightGray2: #f4f4f4;
$darkYellow: #cc9800;


body {
	color: $colorGray;
	min-width: 950px;
	min-height: 100%;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: 44px;
}
h1, h2 {
	font-weight: bold;
}
h2 {
	color: $colorGray;
	font-size: 26px;
}
.wrap {
	width: 1160px;
	margin: 0 auto;
}
.top {
	background: $lightGray;
}
.top-menu {
	float: left;
	margin: 16px 0;
	padding: 0;
}
.menu {
	overflow: hidden;
}
.top-menu a {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFF;
	width: 99px;
	height: 32px;
	border-radius: 4px;
	line-height: 32px;
	color: $colorGray;
	&::before {
		content: "";
		display: block;
		float: left;
		width: 19px;
		height: 19px;
		margin-top: 6px;
		margin-left: 8px;
	}
	&:nth-of-type(1)::before {
		margin: 7px 21px 0 8px;
		@extend .sprite-blog; }
	&:nth-of-type(2)::before {
		height: 22px;
		margin: 4px 19px 0 9px;
		@extend .sprite-jobs; }
	&:nth-of-type(3)::before {
		margin: 8px 12px 0 9px;
		@extend .sprite-support; }
	&:nth-of-type(4)::before {
		margin: 7px 17px 0 10px;
		@extend .sprite-arabic; }
}
.social {
	float: right;
	a {
		display: block;
		float: left;
		border-left: 1px solid $grayBrdr;
		&:last-of-type {
			border-right: 1px solid #DEE0E6;
		}
		i {
			display: block;
			height: 21px;
			width: 25px;
			margin: 21px 19px;
		}
		&:nth-of-type(1) i {
			@extend .sprite-fb;
		}
		&:nth-of-type(2) i {
			@extend .sprite-twitter;
		}
		&:nth-of-type(3) i {
			@extend .sprite-inst;
		}
		&:nth-of-type(4) i {
			@extend .sprite-g;
		}
	}
}
.logo {
	overflow: hidden;
	padding: 56px 0;
	border-bottom: 1px solid $lightGray;
	& div[class^="logo"]:nth-of-type(1) {
		float: left;
	}
	& div[class^="logo"]:nth-of-type(2) {
		float: right;
	}
	.logoContacts {
		margin-right: 8px;
		.modal {
			margin-bottom: 20px;
		}
		div {
			float: left;
			position: relative;
			width: 75px;
			height: 33px;
				i {
				display: block;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				}
			&:nth-of-type(1) i {
				@extend .sprite-phone;
				width: 28px;
				height: 29px;
			}
			&:nth-of-type(2)::after {
				content: "";
				display: block;
				position: absolute;
				height: 24px;
				width: 1px;
				background: #bcbec3;
				left: 74px;
				top: 5px;
			}
			&:nth-of-type(2)::before{
				content: "";
				position: absolute;
				display: block;
				height: 24px;
				width: 1px;
				background: $gray3;
				top: 5px;
				left: 4px;
			}
			&:nth-of-type(2) i {
				@extend .sprite-place;
				width: 25px;
				height: 34px;
			}
			&:nth-of-type(3) i {
				@extend .sprite-mail;
				width: 30px;
				height: 25px;
			}
		}
		}
	}
.modal {
	display: block;
	position: relative;
	display: block;
	border: 2px solid $gray4;
	border-radius: 5px;
	color: $colorGray;
	font-weight: normal;
	margin-bottom: 12px;
	text-align: center;
	padding: 15px 23px;
	i {
		font-style: normal;
		font-size: 15px;
	}
	b {
		display: block;
		position: absolute;
		@extend .sprite-trangle;
		width: 29px;
		height: 14px;
		bottom: -12px;
	}
}
.top3 {
	overflow: hidden;
	.nav {
		float: left;
		li {
			&:first-of-type {
				padding-left: 15px;
				border-left: none;
			}
			&:hover {
				color: $hoverBlue;
			}
			&.active {
				text-transform: uppercase;
				color: $hoverBlue;
				position: relative;
				&::after {
					content: "";
					display: block;
					position: absolute;
					left: 0px;
					right: 0;
					bottom: 0px;
					width: 0px;
					height: 0px;
					margin: auto;
					border-left: 21px solid transparent;
					border-right: 21px solid transparent;
					border-bottom: 10px solid $superBlue;
				}
			}
			display: inline-block;
			font-weight: bold;
			font-size: 13px;
			border-left: 1px solid $lightGray;
			padding: 0px 22px;
			line-height: 86px;
			cursor: pointer;
		}
	}
	.search {
		float: right;
		padding-top: 26px;
		i {
			@extend .sprite-loop;
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-top: 4px;
		}
		input {
			border: none;
			padding: 8px;
			margin: 0 15px 0 6px;
			font-size: 15px;
		}
	}
}
.big_area {
	background: url(../img/back.jpg) no-repeat center;
	height: 885px;
	color: #FFF;
	.toptext {
		width: 780px;
		height: 110px;
		margin: 0 auto;
		background: url(../img/and.png) no-repeat;
		background-position: 13px bottom;
		padding-top: 255px;
		b {
			text-transform: uppercase;
			font-size: 58px;
			display: block;
			font-weight: bold;
			text-shadow: 1px 1px 4px rgba(0,0,0,.5);
		}
		span {
			font-size: 45px;
			display: block;
			font-weight: lighter;
			padding: 10px 0 0 113px;
		}
	}
}
.slider {
	overflow: hidden;
	width: 755px;
	float: right;
	margin-top: 155px;
	.slide {
		float: left;
		position: relative;
		.art-top {
			position: absolute;
			height: 67px;
			width: 100%;
			bottom: 0;
			text-align: center;
			span {
				position: absolute;
				margin-top: 25px;
				padding-left: 8px;
				cursor: pointer;
			}
			& span::before {
				content:"";
				display: block;
				position: absolute;
				left: -35px;
				top: -7px;
				width: 32px;
				height: 29px;
			}
			&.green {
				background: rgba(134, 215, 107, 0.87);
				span::before {
					@extend .sprite-likegreen;
				}
			}
			&.yellow {
				background: rgba(236, 234, 113, 0.87);
				span {
					color: $darkYellow;
				}
				span::before {
					@extend .sprite-likeyellow;
				}
			}
		}
	}
	.next {
		float: left;
		position: relative;
		height: 243px;
		width: 111px;
		background: $lightGray2;
		cursor: pointer;
		i {
			position: absolute;
			width: 23px;
			height: 40px;
			@extend .sprite-arrow;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
@mixin coloumn {
	width: 386px;
	padding-left: 138px;
	p {
		line-height: 24px;
	}
}
.main-area {
	.pre-description {
		overflow: hidden;
		padding-top: 30px;
		padding-bottom: 110px;
		background: url(../img/devide.jpg) no-repeat;
		background-position: bottom center;
		background-size: 100%;
		.coloumn {
			@include coloumn;
			h2 {
				margin: 18px 0;
			}
		}
		.coloumn:first-of-type {
			float: left;
			background: url("../img/lamp.png") no-repeat;
		}
		.coloumn:last-of-type {
			float: right;
			background: url("../img/three.png") no-repeat;
			background-position: 8px -2px;
		}
	}
}
.section-what {
	div {
		width: 432px;
		margin: 0 auto;
		margin-top: 67px;
		min-height: 110px;
		background: url(../img/arrows.png) no-repeat;
		padding-left: 138px;
		padding-top: 6px;
		h1 {
			margin: 18px 0 10px 0;
			padding-left: 28px;
		}
		p {
			padding-left: 28px;
		}
	}
}
.coloumns {
	overflow: hidden;
	margin-top: 93px;
	.coloumn {
		@include coloumn;
		h2 {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}
	& .coloumn:first-of-type {
		float: left;
		padding-left: 117px;
	}
	& .coloumn:last-of-type {
		float: right;
		background-position-x: 42px !important;
	}
	& .coloumn.wdesign {
		background: url(../img/setting.png) no-repeat;
		min-height: 86px;
	}
	& .coloumn.mobile {
		background: url(../img/phone.png) no-repeat;
		min-height: 86px;
	}
	& .coloumn.software {
		background: url(../img/cube.png) no-repeat;
		min-height: 97px;
	}
	& .coloumn.design {
		background: url(../img/sofa.png) no-repeat;
		min-height: 69px;
		background-position-x: 26px !important;
	}
	& .coloumn.branding {
		background: url(../img/mouse.png) no-repeat;
		min-height: 93px;
	}
	& .coloumn.seo {
		background: url(../img/globus.png) no-repeat;
		min-height: 81px;
	}
}
.section-project {
	background: url(../img/devidebottom.png) no-repeat;
	width: 100%;
	background-size: 100%;
	background-position: top center;
	background-color: $gray5;
	margin-top: 90px;
	padding-top: 61px;
	div.title {
		margin: 0 auto;
		width: 363px;
		min-height: 151px;
		background: url(../img/colb.png) no-repeat;
		padding-left: 136px;
		h1 {
			padding: 50px 0px 4px 34px;
		}
		p {
			padding-left: 34px;
			line-height: 26px;
		}
	}
	.menu-project {
		width: 751px;
		margin: 0 auto;
		margin-top: 84px;
		a {
			border: 2px solid $grayCe;
			text-decoration: none;
			font-weight: bold;
			color: $grayCe;
			border-radius: 3px;
			padding: 10px 0;
			text-align: center;
			min-width: 101px;
			display: inline-block;
		}
	}
}





/******** General styles ends ********/
