@import 'compass/reset';


/******** Compass sprites starts ********/
	@import "compass/utilities/sprites";

$social-layout: normal;
$sprite-spacing: 10px;
@import "sprite/*.png";
@include all-sprite-sprites; 

/******** Compass sprites ends ********/


/******** Apple text hack starts ********/
	div, span, a, li, h1, h2, h3, h4, 
	h5, h6, td, input, textarea, button {
		-webkit-text-size-adjust: none;
		-o-text-size-adjust: none;
		-moz--text-size-adjust: none;
		text-size-adjust: none;
		max-height: 999999px;
	}
	input[type=text],
	input[type=password],
	input[type=submit],
	textarea {
		-webkit-appearance: none !important;
	}
/******** Apple text hack ends ********/


/******** General styles starts ********/
/* Fonts */
@import "http://webfonts.ru/import/osans.css";
/*
	Open Sans, 300, 300 italic, 400, 400 italic, 600, 600 italic, 700, 700 italic, 800, 800 italic
*/


/* variables */
$colorGrey: #6D6E71;
$lightGrey: #eceef4;
$greyBrdr: #DEE0E6;
$grey3: #bcbec3;
$grey4: #d4d4d5;
$grey5: #efefef;
$greyCe: #cecece;
$hoverBlue: #3bb0e4;
$superBlue: #1faae2;
$blue2: #bbedff;
$blue3: #1ea1d6;
$lightGrey2: #f5f5f5;
$darkYellow: #cc9800;
$grey6: #d3d3d3;
$darkGrey: #3c3e3f;
$darkHoar: #2b2c2d;
$hoar2: #393b3c;
$hoar3: #494c4d;
$footerSize: 264px;

html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: $colorGrey;
}
#main-container {
	min-height: 100%;
	height: auto !important; /* for IE6 support */
	height: 100%;
	margin: 0 auto;
	margin-bottom: -$footerSize;
}
#push, #footer {
	height: $footerSize;
}
.wrap {
	width: 1160px;
	margin: 0 auto;
}
h1 {
	font-size: 44px;
}
h1, h2 {
	font-weight: bold;
}
h2 {
	color: $colorGrey;
	font-size: 26px;
}
.social {
	a {
		display: block;
		float: left;
		i {
			display: block;
			height: 21px;
			width: 25px;
			margin: 21px 19px;
		}
	}
}
.header {
	.top {
		background: $lightGrey;
		.social {
			float: right;
			a {
				border-left: 1px solid $greyBrdr;
				&:last-of-type {
					border-right: 1px solid $greyBrdr;
				}
				&:nth-of-type(1) i {
					@extend .sprite-fb;
				}
				&:nth-of-type(2) i {
					@extend .sprite-twitter;
				}
				&:nth-of-type(3) i {
					@extend .sprite-inst;
				}
				&:nth-of-type(4) i {
					@extend .sprite-g;
				}
			}
		}
	}
}
.top-menu {
	float: left;
	margin: 16px 0;
	padding: 0;
}
.menu {
	overflow: hidden;
}
.top-menu a {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	background-color: #FFF;
	width: 99px;
	height: 32px;
	border-radius: 4px;
	line-height: 32px;
	color: $colorGrey;
	&::before {
		content: "";
		display: block;
		float: left;
		width: 19px;
		height: 19px;
		margin-top: 6px;
		margin-left: 8px;
	}
	&:nth-of-type(1)::before {
		margin: 7px 21px 0 8px;
		@extend .sprite-blog; }
	&:nth-of-type(2)::before {
		height: 22px;
		margin: 4px 19px 0 9px;
		@extend .sprite-jobs; }
	&:nth-of-type(3)::before {
		margin: 8px 12px 0 9px;
		@extend .sprite-support; }
	&:nth-of-type(4)::before {
		margin: 7px 17px 0 10px;
		@extend .sprite-arabic; }
}
.logo {
	overflow: hidden;
	padding: 56px 0;
	border-bottom: 1px solid $lightGrey;
	& div[class^="logo"]:nth-of-type(1) {
		float: left;
	}
	& div[class^="logo"]:nth-of-type(2) {
		float: right;
	}
	.modal {
		margin-bottom: 20px;
	}
	.logoContacts {
		margin: 70px 8px 0 0;
		div {
			float: left;
			position: relative;
			width: 75px;
			height: 33px;
				i {
				display: block;
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				}
			&:nth-of-type(1) i {
				@extend .sprite-phone;
				width: 28px;
				height: 29px;
			}
			&:nth-of-type(2)::after {
				content: "";
				display: block;
				position: absolute;
				height: 24px;
				width: 1px;
				background: #bcbec3;
				left: 72px;
				top: 5px;
			}
			&:nth-of-type(2)::before{
				content: "";
				position: absolute;
				display: block;
				height: 24px;
				width: 1px;
				background: $grey3;
				top: 5px;
				left: 2px;
			}
			&:nth-of-type(2) i {
				@extend .sprite-place;
				width: 25px;
				height: 34px;
			}
			&:nth-of-type(3) i {
				@extend .sprite-mail;
				width: 30px;
				height: 25px;
			}
		}
		}
}
.modal {
	display: block;
	position: absolute;
	z-index: 100;
	border: 2px solid $grey4;
	border-radius: 5px;
	color: $colorGrey;
	font-weight: normal;
	margin-bottom: 12px;
	text-align: center;
	padding: 15px 23px;
	background: white;
	i {
		font-style: normal;
		font-size: 15px;
	}
	b {
		display: block;
		position: absolute;
		@extend .sprite-trangle;
		width: 29px;
		height: 14px;
		bottom: -12px;
		left: 0;
		right: 0;
		margin: auto;
	}
}
.top3 {
	overflow: hidden;
	.nav {
		float: left;
		a {
			text-decoration: none;
			color: $colorGrey;
			position: relative;
			display: inline-block;
			font-weight: bold;
			font-size: 13px;
			border-left: 1px solid $lightGrey;
			padding: 0px 22px;
			line-height: 86px;
			&:first-of-type {
				padding-left: 15px;
				border-left: none;
			}
			&::after {
				content: "";
				display: none;
				position: absolute;
				left: 0px;
				right: 0;
				bottom: 0px;
				width: 0px;
				height: 0px;
				margin: auto;
				border-left: 21px solid transparent;
				border-right: 21px solid transparent;
				border-bottom: 10px solid $superBlue;
			}
			&:hover {
				color: $hoverBlue;
				&::after {
					display: block;
				}
			}
			&.active {
				text-transform: uppercase;
				color: $hoverBlue;
			}
		}
	}
	.search {
		float: right;
		padding-top: 26px;
		i {
			@extend .sprite-loop;
			display: inline-block;
			width: 25px;
			height: 25px;
			margin-top: 4px;
		}
		input {
			border: none;
			padding: 8px;
			margin: 0 15px 0 6px;
			font-size: 15px;
		}
	}
}
.big_area {
	background: url(../img/back.jpg) no-repeat center;
	height: 885px;
	color: #FFF;
	.toptext {
		width: 780px;
		height: 110px;
		margin: 0 auto;
		background: url(../img/and.png) no-repeat;
		background-position: 13px bottom;
		padding-top: 255px;
		b {
			text-transform: uppercase;
			font-size: 58px;
			display: block;
			font-weight: bold;
			text-shadow: 1px 1px 4px rgba(0,0,0,.5);
		}
		span {
			font-size: 45px;
			display: block;
			font-weight: lighter;
			padding: 10px 0 0 113px;
		}
	}
}
.slider-area {
	width: 644px;
	float: right;
	margin: 155px 111px 0 0;
	.slide {
		width: 322px !important;
		float: left;
		position: relative;
		.art-top {
			position: absolute;
			height: 67px;
			width: 100%;
			bottom: 0;
			text-align: center;
			a {
				position: absolute;
				text-decoration: none;
				margin-top: 25px;
				padding-left: 8px;
				i {
					display: block;
					position: absolute;
					left: -35px;
					top: -7px;
					width: 32px;
					height: 29px;
				}
			}
			&.green {
				background: rgba(134, 215, 107, 0.87);
				a {
					color: #fff;
					i {
						@extend .sprite-likegreen;
					}
				}
			}
			&.yellow {
				background: rgba(236, 234, 113, 0.87);
				a {
					color: $darkYellow;
					i {
						@extend .sprite-likeyellow;
					}
				}
			}
		}
	}
	.slick-prev,
	.slick-next {
		position: absolute;
		height: 242px;
		top: 0;
		background: $lightGrey2;
		width: 111px;
		cursor: pointer;
		display: block;
		line-height: 0px;
		font-size: 0px;
		color: transparent;
		padding: 0;
		border: none;
		outline: none;
		&:hover, &:focus {
			outline: none;
		}
		&:before {
			content: "";
			position: absolute;
			width: 23px;
			height: 40px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
		&.slick-disabled {
			opacity: 0;
			cursor: default;
		}
	}
	.slick-prev {
		left: -111px;
		&:before {
			@extend .sprite-larrow;
		}
	}
	.slick-next {
		right: -111px;
		&:before {
			@extend .sprite-rarrow;
		}
	}
	.controls div {
		position: absolute;
		height: 243px;
		width: 111px;
		background: $lightGrey2;
		cursor: pointer;
		i {
			position: absolute;
			width: 23px;
			height: 40px;
			@extend .sprite-larrow;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
}
@mixin coloumn {
	width: 386px;
	padding-left: 138px;
	p {
		line-height: 24px;
	}
}
.main-area {
	.pre-description {
		overflow: hidden;
		padding-top: 30px;
		padding-bottom: 110px;
		background: url(../img/devide.jpg) no-repeat;
		background-position: bottom center;
		background-size: 100%;
		.coloumn {
			@include coloumn;
			h2 {
				margin: 18px 0;
			}
		}
		.coloumn:first-of-type {
			float: left;
			background: url("../img/lamp.png") no-repeat;
		}
		.coloumn:last-of-type {
			float: right;
			background: url("../img/three.png") no-repeat;
			background-position: 8px -2px;
		}
	}
}
.section-what {
	div {
		width: 432px;
		margin: 0 auto;
		margin-top: 67px;
		min-height: 110px;
		background: url(../img/arrows.png) no-repeat;
		padding-left: 138px;
		padding-top: 6px;
		h1 {
			margin: 18px 0 10px 0;
			padding-left: 28px;
		}
		p {
			padding-left: 28px;
		}
	}
}
.coloumns {
	overflow: hidden;
	margin-top: 93px;
	.coloumn {
		@include coloumn;
		h2 {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}
	& .coloumn:first-of-type {
		float: left;
		padding-left: 117px;
	}
	& .coloumn:last-of-type {
		float: right;
		background-position-x: 42px !important;
	}
	& .coloumn.wdesign {
		background: url(../img/setting.png) no-repeat;
		min-height: 86px;
	}
	& .coloumn.mobile {
		background: url(../img/phone.png) no-repeat;
		min-height: 86px;
	}
	& .coloumn.software {
		background: url(../img/cube.png) no-repeat;
		min-height: 97px;
	}
	& .coloumn.design {
		background: url(../img/sofa.png) no-repeat;
		min-height: 69px;
		background-position-x: 26px !important;
	}
	& .coloumn.branding {
		background: url(../img/mouse.png) no-repeat;
		min-height: 93px;
	}
	& .coloumn.seo {
		background: url(../img/globus.png) no-repeat;
		min-height: 81px;
	}
}
.section-project {
	background: url(../img/devidebottom.png) no-repeat;
	width: 100%;
	background-size: 100%;
	background-position: top center;
	background-color: $grey5;
	margin-top: 90px;
	padding-top: 61px;
	padding-bottom: 84px;
	div.title {
		margin: 0 auto;
		width: 363px;
		min-height: 151px;
		background: url(../img/colb.png) no-repeat;
		padding-left: 136px;
		h1 {
			padding: 50px 0px 4px 34px;
		}
		p {
			padding-left: 34px;
			line-height: 26px;
		}
	}
	.menu-project {
		width: 751px;
		margin: 0 auto;
		margin-top: 79px;
		a {
			width: 152px;
			border: 2px solid $greyCe;
			text-decoration: none;
			font-weight: bold;
			color: $greyCe;
			border-radius: 6px;
			padding: 12px 0 13px 0;
			text-align: center;
			display: inline-block;
			margin-right: 15px;
			&:first-of-type {
				width: 119px;
			}
			&:last-of-type {
				margin-right: 0;
				width: 95px;
			}
			&:hover {
				color: $colorGrey;
				border-color: $colorGrey;
			}
			&.active {
				border-color: white;
				background: #fff;
				color: $colorGrey;
			}
			}
	}
}
#container ul.hidden{
	display:none;
}
.menu-list {
	margin-top: 50px;
	.item {
		cursor: pointer;
		display: inline-block;
		width: 277px;
		background: #FFF;
		border-radius: 8px;
		margin: 0px 0px 17px 15px;
		&:nth-of-type(4n+1) {
			margin-left: 0;
		}
		div {
		position: relative;
		background: $lightGrey2;
		border-radius: 8px;
		width: 252px;
		height: 210px;
		margin: 0 auto;
		margin-top: 16px;
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
		}
		span {
			display: block;
			height: 58px;
			position: relative;
			a {
				display: block;
				float: left;
				position: relative;
				height: 100%;
				width: 50%;
			}
			a::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
			}
			a:first-of-type::before {
				@extend .sprite-link;
				width: 23px;
				height: 23px;
			}
			a:first-of-type::after {
				content: "";
				position: absolute;
				border-right: 1px solid $grey5;
				height: 100%;
				right: 0;
			}
			a:last-of-type::before {
				@extend .sprite-plus;
				width: 24px;
				height: 24px;
			}
		}
	}
}
.section-team {
	.title {
		width: 607px;
		padding-left: 162px;
		background: url(../img/team.png) no-repeat;
		min-height: 150px;
		margin: 0 auto;
		margin-top: 45px;
		background-position-x: 143px;
		h1 {
			padding: 51px 0 5px 143px;
		}
		p {
			line-height: 25px;
			padding-left: 144px;
		}
	}
}
.faces {
	margin-top: 80px;
	li {
		background: $lightGrey2;
		width: 278px;
		height: 395px;
		display: inline-block;
		margin-left: 11px;
		border-radius: 4px;
		text-align: center;
		&:nth-of-type(4n+1) {
			margin-left: 0;
		}
		img {
			margin: 0px auto;
			margin-top: 43px;
			margin-bottom: 33px;
			display: block;
		}
		h3 {
			font-size: 24px;
			font-weight: bold;
		}
		p {
			line-height: 34px;
		}
		span {
			display: block;
			width: 100%;
			background: #FFF;
			padding: 20px 0;
			margin-top: 35px;
			a {
			display: inline-block;
			width: 23px;
			height: 21px;
			margin: 0 12px;
			&:nth-of-type(1) {
				@extend .sprite-greyFb;
			}
			&:nth-of-type(2) {
				@extend .sprite-greyTw;
			}
			&:nth-of-type(3) {
				@extend .sprite-greyInst;
			}
			&:nth-of-type(4) {
				@extend .sprite-greyIn;
			}
			}
		}
	}
}
.section-map {
	margin-top: 100px;
	position: relative;
	.ban {
		z-index: 100;
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
	}
	.modal {
		margin-bottom: 5px;
		border-width: 1px;
		z-index: 100;
		b {
			@extend .sprite-trangle1;
		}
	}
	.bigContacts {
		position: absolute;
		bottom: 69px;
		left: 0;
		right: 0;
		margin: auto;
		width: 210px;
		div {
			background: white;
			float: left;
			position: relative;
			cursor: pointer;
			width: 60px;
			height: 60px;
			border: 1px solid $grey6;
			border-radius: 8px;
			margin: 0 6px;
			&:hover {
				background: $blue3;
				border-color: $blue3;
			}
			&:first-of-type {
				margin-left: 0;
			}
			&:nth-of-type(1):hover i {
				@extend .sprite-mapPlace:hover;
			}
			&:nth-of-type(2):hover i {
				@extend .sprite-mapMail:hover;
			}
			&:last-of-type {
				margin-right: 0;
			}
			&:nth-of-type(3):hover i {
				@extend .sprite-mapPhone:hover;
			}
				i {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				}
			&:nth-of-type(1) i {
				@extend .sprite-mapPlace;
				width: 36px;
				height: 48px;
			}
			&:nth-of-type(2) i {
				@extend .sprite-mapMail;
				width: 42px;
				height: 35px;
			}
			&:nth-of-type(3) i {
				@extend .sprite-mapPhone;
				width: 40px;
				height: 40px;
			}
		}
		}
	}
#footer {
	background: $darkHoar;
	padding-top: 79px;
	.top {
		overflow: hidden;
	}
	.social {
		float: left;
		a {
			border-left: 1px solid $darkGrey;
			&:last-of-type {
				border-right: 1px solid $darkGrey;
			}
			&:nth-of-type(1) i {
				@extend .sprite-darkFb;
			}
			&:nth-of-type(2) i {
				@extend .sprite-darkTw;
			}
			&:nth-of-type(3) i {
				@extend .sprite-darkInst;
			}
			&:nth-of-type(4) i {
				@extend .sprite-darkGoo;
			}
		}
	}
	.send {
		float: right;
		min-height: 26px;
		border-radius: 12px;
		width: 574px;
		background: $hoar2;
		font-weight: bold;
		font-size: 14px;
		padding: 10px;
		margin-top: 6px;
		span {
			position: relative;
			padding: 16px 0 0 63px;
			display: block;
			margin-left: 11px;
			float: left;
		}
		.button {
			float: right;
			display: block;
			background: $hoar3;
			border-radius: 12px;
			padding: 16px 23px;
			cursor: pointer;
		}
		span::before {
			content: "";
			position: absolute;
			display: inline-block;
			width: 32px;
			height: 26px;
			top: 11px;
			left: 0;
			@extend .sprite-maillist;
		}
	}
}
.bottom {
	overflow: hidden;
	padding: 32px 0;
	font-size: 13px;
	margin-top: 34px;
	span {
		display: block;
		float: left;
	}
	ul {
		float: right;
		
		li {
			display: inline-block;
			margin-right: 3px;
			&::before {
			content: '\25cf\a0';
			font-size: 12px;
			}
			&:first-of-type::before {
			content: '';
			}
			a {
				text-decoration: none;
				color: $colorGrey;
			}
		}
	}
}

/******** General styles ends ********/

/******** Slick styles ********/
@import url(../css/slick.css);


/******** Slick styles ends ********/